<template>
     <div class="row">
          <div class="col-lg-12">
                            <div class="card bg-primary-card">
                                <h4 class="card-header" style="color:#fff">Details</h4>
                            <div class="container" v-for="m in active" :key="m.id"  v-if="m.id">
                                 <dl class="row">
                                <dt class="col-sm-3">ID</dt>
                                <dd class="col-sm-9">{{ m.id }}</dd>

                                <dt class="col-sm-3">Username</dt>
                                <dd class="col-sm-9">{{ m.username }}</dd>


                                <dt class="col-sm-3">Plan</dt>
                                <dd class="col-sm-9">{{ m.description }}</dd>
                                <dt class="col-sm-3">
                                    Billing Frequency
                                </dt>
                                <dd class="col-sm-9">1 Month</dd>
                                 </dl>

                            </div>
                             <div class="container" v-for="i in active" :key="i.id"  v-if="i.uid">
                                 <dl class="row">
                                <dt class="col-sm-3">ID</dt>
                                <dd class="col-sm-9">{{ i.uid }}</dd>

                                <dt class="col-sm-3">Username</dt>
                                <dd class="col-sm-9">{{ i.username }}</dd>


                                <dt class="col-sm-3">Plan</dt>
                                <dd class="col-sm-9">{{ i.description }}</dd>
                                <dt class="col-sm-3">
                                    Billing Frequency
                                </dt>
                                <dd class="col-sm-9">1 Month</dd>
                                 </dl>

                            </div>
                        </div>
                       
                    </div>
                </div>
</template>
<script>
export default {
    data() {
       return {
           active: []
       }
    },
     created() {
           this.activeService()
     },
     methods: {
          activeService()
            {
                   axios
                    .get('api/getservice')
                    .then(response => (this.active = response.data.services));
            },
     }
}
</script>