<template>
    <div class="col-lg-12">
        		

                    <div class="card bg-primary-card">

                                <h6 class="card-header" style="color:#fff">Please send us your feedback and help us improve our services.</h6>
                                <div class="card-body">
                            </div>
               <div class="p-4">
                   <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" class="form-control" placeholder="Your name" v-model="newfullname">
                    </div>
                    <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" class="form-control" placeholder="Your email" v-model="newemail">
                    </div>
                    
                    <div class="form-group">
                        	<label for="department">Department</label>
                   <select id="department" name="department" class="form-control col-md-4" size="1">
                                            
                                                <option value="1">General</option>
                                                <option value="2">Sales</option>
                                                <option value="3">Account</option>
                                                <option value="4">Technical</option>
                                            </select>
                    </div>
                    
                    <div class="form-group">
                       <label for="message">Message</label>
                       <textarea rows="4" class="form-control resize_vertical" id="message" v-model="newmessage"></textarea>
                    </div>
                    <button @click="addFeedback()" class="btn btn-primary mt-2">Submit</button>
                </div>
           
            </div>
                </div>
        </div>
</template>
<script>
    var unsub;
    import Vue from 'vue'
    import * as VueGoogleMaps from 'vue2-google-maps'
    import store from 'src/store/store.js'

   
    export default {
        name: "feedback",
       
        data() {
            return {
                    newfullname: '',
                    newemail: '',
                    newmessage: '',
                    search: '',
                    feedbacks:[{
                        name: 'Alex Malikov',
                        email:'alex.malikov94@gmail.com',
                        message: 'Hello Alex'
                    }]
            }
        },
        methods:{
            addFeedback:function(){
                this.feedbacks.push({
                    name: this.newfullname,
                    email:this.newemail,
                    message: this.newmessage
                }),
                    this.newfullname = '',
                    this.newemail =  '',
                    this.newmessage= ''
            },
        },
        mounted() {
            unsub = this.$store.subscribe((mutation, state) => {
                if (mutation.type == "left_menu") {
                    setTimeout(() => {
                        this.$refs.gmap1.resize();
                        this.$refs.gmap2.resize();
                        this.$refs.gmap3.resize();
                        this.$refs.gmap4.resize();
                    })
                }
            });
        },
        beforeRouteLeave(to, from, next) {
            unsub();
            next();
        },
    }
</script>

<style scoped>
    .gmap {
        width: 100%;
        height: 300px;
        margin: 5px auto;
    }
</style>
