<template>
    <div  v-if="currentUser">
         <div id="preloader" v-if="preloader">
        <div class="spinner">
            <div class="dot1"></div>
            <div class="dot2"></div>
        </div>
    </div>
        <div class="row mb-4">
            <div class="col-lg-3  col-sm-6 mb-3">
                <div class="text-center p-3 widget_social_icons box_shadow">
                    <div class="widget_social_inner1">
                        <i class="fa fa-user-o fb_text"></i>
                    </div>
                    <div class="text-ash">
                        <h4 class="mt-2 text_size">65+</h4>
                        <p class="m-0 mt-2">Users</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3  col-sm-6 mb-3">
                <div class="text-center p-3 widget_social_icons box_shadow ">
                    <div class="widget_social_inner1">
                        <i class="fa fa-desktop fb_text"></i>
                    </div>
                    <div class="text-ash">
                        <h4 class="mb-0 mt-2 text_size">15+</h4>
                        <p class="m-0 mt-2">Active Services</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-3">
                <div class="text-center p-3 widget_social_icons box_shadow">
                    <div class=" widget_social_inner1">
                        <i class="fa fa-ticket fb_text"></i>
                    </div>
                    <div class="text-ash">
                        <h4 class="mb-0 mt-2 text_size">42+</h4>
                        <p class="m-0 mt-2">Tickets</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3  col-md-6 mb-3">
                <div class="text-center p-3 widget_social_icons box_shadow">
                    <div class=" widget_social_inner1">
                        <i class="fa fa-money fb_text"></i>
                    </div>
                    <div class="text-ash">
                        <h4 class="mb-0 mt-2 text_size">65+</h4>
                        <p class="m-0 mt-2">Invoices</p>
                    </div>
                </div>
            </div>
        </div>
        <!--========================Annual Stats===========================-->
          <div class="row">
                  <div class="col-lg-6  col-md-6 mb-3" >
                        <div class="col-lg-12" v-if="!preloader"><div class="card mb-2 mt-2 bg-primary-card text-left"><h4 class="card-header"><div>Account Summary</div></h4><div class="text-center p-3 widget_social_icons box_shadow"><p>
                                <div class="text-ash">
                        <p class="m-0 mt-2" style="font-size:18px"  v-for="u in users" :key="u.rate_id"  v-if="users"><router-link :to="`/services/${u.rate_id}`"><a href="#">{{ u.user_count}} {{ u.description }}</a></router-link></p>
                    </div>
                            </div></div></div>
                    </div>
                  <div class="col-lg-6  col-md-6 mb-3" v-for="a in active" v-if="a.calls">
                        <div class="col-lg-12"><div class="card mb-2 mt-2 bg-primary-card text-left"><h4 class="card-header"><div>Active Services (Current Month)(Voice)</div></h4>
                                <div class="table-responsive">
                                            <table class="table">
                                                 <thead>
                                        <th>Date</th>
                                    
                                        <th>UP</th>
                                        <th>DOWN</th>
                                        <th>Calls</th>
                                    </thead>
                                    <tbody>
                                                <tr>
                                                   
                                                    <td>{{ a.date }}</td>
                                                    <td>{{a.up}}</td>
                                                    <td>{{a.down}}</td>
                                                    <td>{{a.calls}}</td>
                                                
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                          </div></div>
                    </div>

                     <div class="col-lg-6  col-md-6 mb-3" v-for="i in active" v-if="i.creation">
                        <div class="col-lg-12"><div class="card mb-2 mt-2 bg-primary-card text-left"><h4 class="card-header"><div>Active Services (Current Month)(Internet)</div></h4>
                                <div class="table-responsive">
                                            <table class="table">
                                                 <thead>
                                        <th>Username</th>
                                        <th>Plan</th>
                                        <th>Download (mb)</th>
                                        <th>Upload (mb)</th>
                                        <th>Actions</th>
                                    </thead>
                                    <tbody>
                                                <tr v-for="(service, index) in allServices" :key=" service.serviceID">
                                                   
                                                    <td><router-link :to="`/details/${i.uid}`">  <b-btn :id="'exPopover1-'+service" :variant="color[index]" class="text-white">
                                                    {{ i.username }}
                                                     </b-btn></router-link>
                                                      <b-popover :target="'exPopover1-'+service"
                                                        :service="service"
                                                        title="This is a parent account.object:user_info!"
                                                        triggers="hover focus"
                                                        :content="`Object_ID: ${i.uid}\n namespase:parent\n parents:${i.description}\n rateID:${i.rate_id}`">
                                                    </b-popover>
                                                     </td>
                                                    <td>{{i.description }}</td>
                                                    <td>{{ i.down}}</td>
                                                    <td>{{ i.up }}</td>
                                                
                                            
                                            
                                                    <td><span class="fa fa-edit" @click="editservice(index)"></span></td>
                                                
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                          </div></div>
                    </div>
                      <div class="col-lg-6  col-md-6 mb-3" v-for="m in active" v-if="m.id" :key="m.id">
                        <div class="col-lg-12"><div class="card mb-2 mt-2 bg-primary-card text-left"><h4 class="card-header"><div>Active Services (Current Month)(Misc)</div></h4>
                                <div class="table-responsive">
                                            <table class="table">
                                                 <thead>
                                        <th>Service ID</th>
                                    
                                        <th>Product</th>
                                        <th>Actions</th>
                                    </thead>
                                    <tbody>
                                                <tr v-for="(service, index) in allServices" :key=" service.serviceID">
                                                   
                                                    <td> <router-link :to="`/details/${m.id}`"> <b-btn :id="'exPopover1-'+service" :variant="color[index]" class="text-white">
                                                    {{ m.username }}
                                                     </b-btn></router-link>
                                                      <b-popover :target="'exPopover1-'+service"
                                                        :service="service"
                                                        title="This is a parent account.object:user_info!"
                                                        triggers="hover focus"
                                                        :content="`Object_ID: ${m.id}\n namespase:parent\n parents:${m.description}\n rateID:${m.rate_id}`">
                                                    </b-popover>
                                                     </td>
                                                    <td>{{m.description}}</td>
                                            
                                            
                                                    <td><span class="fa fa-edit" @click="editservice(index)"></span></td>
                                                
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                          </div></div>
                    </div>
                       <div class="col-lg-6  col-md-6 mb-3" v-for="h in active" v-if="h.domain_name" :key="h.domain_name">
                        <div class="col-lg-12" v-if="!preloader"><div class="card mb-2 mt-2 bg-primary-card text-left"><h4 class="card-header"><div>Active Services (Current Month)(Hosting)</div></h4>
                                <div class="table-responsive">
                                            <table class="table">
                                                 <thead>
                                        <th>DATE</th>
                                        <th>DOMAIN</th>
                                        <th>TOTAL</th>
                                    </thead>
                                    <tbody>
                                                <tr v-for="(service, index) in allServices" :key=" service.serviceID">
                                                   
                                                   <td>{{ h.date}}</td>
                                                   <td>{{ h.domain_name }}</td>
                                                   <td>{{ h.up }}</td>
                                                  
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                          </div></div>
                    </div>
                    
                  </div>
        <div class="row">
            <div class="col-12"  v-if="!preloader">
                                <div class="card bg-primary-card">
                                   <h4 class="card-header">Your details</h4>
                                   
                                        <div class="table-responsive">
                                            <table class="table">
                                                 <thead>
                                        <th>UserName</th>
                                        <th>Billing Email</th>
                                        <th>Company</th>
                                       
                                        <th>Work Number</th>
                                        <th>LastName</th>
                                        <th>Street</th>
                                         <th>City</th>
                                        <th>Actions</th>
                                    </thead>
                                    <tbody>
                                               <!-- <tr v-for="(contact, index) in allContacts" :key="contact.id">-->
                                                   <tr v-for="(user, index) in userdata">
                                                    <td>{{user.username}}</td>
                                                    <td>{{ user.reciptto}}</td>
                                                    <td>{{ user.company }}</td>
                                                    <td>{{ user.work }}</td>
                                                    <td>{{ user.lastname}}</td>
                                                    <td>{{ user.street}}</td>
                                                    <td>{{ user.city}}</td>
                                                    <td><span class="fa fa-edit" @click="editcontact(index)"></span></td>
                                                </tr>
                                             <!-- </tr>-->
                                    </tbody>
                                            </table>
                                        </div>
                            
                                </div>
                            </div>
        
            
            </div>
              <b-modal ref="editservice" hide-footer title="Service details">
                  <span>Service ID</span>
                    <input type="text" class="form-control mt-3" placeholder="Enter Service" v-model="editserviceID" readonly>
                    <span>Product</span>
                    <input type="text" class="form-control mt-3" placeholder="Enter Product" v-model="editproductID">
                    <b-btn class="mt-3 text-white" variant="success" block @click="updateService()">Update</b-btn>
            <b-btn class="mt-3 text-white"  variant="danger" block @click="cancel">Cancel</b-btn>
              </b-modal>
              <b-modal ref="editcontact" hide-footer title="Update details">
            <div class="d-block">
                <form>
                    <span>UserName</span>
                    <input type="text" class="form-control mt-3" placeholder="Enter name" v-model="editname" readonly>
                    <span>Billing Email</span>
                    <input type="email" class="form-control mt-3" placeholder="Enter email" v-model="editemail">
                    <span>Company</span>
                     <input type="email" class="form-control mt-3" placeholder="Enter Company" v-model="editcompany">
                     <span>Company Number (acn/abn)</span>
                    <input type="text" class="form-control mt-3" placeholder="Enter ACN" v-model="editnumber">
                    <span>Contact First Name</span>
                    <input type="text" class="form-control mt-3 mb-3" placeholder="Enter FirstName" v-model="editfirstname">
                    <span>Contact Last Name</span>
                    <input type="text" class="form-control mt-3 mb-3" placeholder="Enter LastName" v-model="editlastname">
                     <span>Work Number</span>
                    <input type="text" class="form-control mt-3 mb-3" placeholder="Enter Work Number" v-model="editworknumber">

                        <span>Mobile</span>
                    <input type="text" class="form-control mt-3 mb-3" placeholder="Enter Mobile Number" v-model="editmobile">
                      <span>After Hours/Home</span>
                    <input type="text" class="form-control mt-3 mb-3" placeholder="Enter Home" v-model="edithome">
                     <span>Fax</span>
                    <input type="text" class="form-control mt-3 mb-3" placeholder="Enter Fax" v-model="editfax">
                      <span>Street</span>
                    <input type="text" class="form-control mt-3 mb-3" placeholder="Enter Street" v-model="editstreet">
                     <span>City</span>
                    <input type="text" class="form-control mt-3 mb-3" placeholder="Enter City" v-model="editcity">

                     <span>Post Code</span>
                    <input type="text" class="form-control mt-3 mb-3" placeholder="Enter Post Code" v-model="editpostcode">

                    <span>State</span>
                    <input type="text" class="form-control mt-3 mb-3" placeholder="Enter State" v-model="editstate">
                </form>
            </div>
            <b-btn class="mt-3 text-white" variant="success" block @click="updateContact()">Update</b-btn>
            <b-btn class="mt-3 text-white"  variant="danger" block @click="cancel">Cancel</b-btn>
        </b-modal>
        <b-modal ref="deletecontact" hide-footer title="Using Component Methods">
            <div class="d-block text-center">
                <h3>Are you sure you want to delete modal</h3>
            </div>
            <b-btn class="mt-3 text-danger" variant="outline-danger" block >Yes</b-btn>
            <b-btn class="mt-3 text-primary"  variant="outline-primary" block>No</b-btn>
        </b-modal>
          
            </div>
            
          

        
</template>
<script>
    import Vue from 'vue';

    import IEcharts from 'vue-echarts-v3/src/full.js';
    import 'zrender/lib/vml/vml';
    require('swiper/dist/css/swiper.css')
    import VueAwesomeSwiper from 'vue-awesome-swiper';
    import countTo from 'vue-count-to';
    import datatable from "components/plugins/DataTable/DataTable.vue";
    import vScroll from "components/plugins/scroll/vScroll.vue";
    import portfolio from "components/widgets/portfolio/portfolio.vue"
    import VueChartist from 'v-chartist'

    Vue.use(VueAwesomeSwiper);
    var unsub;
    export default {
        name: "services",
        components: {
            IEcharts,
            datatable,
            countTo,
            vScroll,
            portfolio,
            VueChartist
        },
        data(){
            return{
                // username: null,
                //user_type: 0,
                //isLoggedIn: localStorage.getItem('cynergic.jwt') != null,
                     placements: [
                     'top'
                ],
                users: null,
                color:['primary','danger','success','warning'],
                currentPage: 2,
                currentPage2: 4,
                currentpage3:5,
                preloader: true,
              
                progress1counter1: 10,
                progress1counter2: 30,
                progress1counter3: 45,
                progress1counter4: 50,
                progress1counter5: 80,
                progress2counter1: 20,
                progress2counter2: 40,
                progress2counter3: 60,
                progress2counter4: 75,
                progress2counter5: 90,
                showDismissibleAlert: true,
                modalShow: false,
                newname:'',
                newemail:'',
                company:'',
                newnumber:'',
                newfirstname:'',
                newlastname:'',
                
                contacts:[{
                    id: 1,
                    name:'Alex',
                    email:'alex.malikov94@gmail.com',
                    company:'Cynergic',
                    contact_num:'0123456789',
                    firstname:'Alex',
                    lastname:'Malikov',
                    work_num: '12345789',
                    mobile: '908997474',
                    home: '',
                    fax: '',
                    street:'Aini 26 app 7',
                    city: 'Dushanbe',
                    postcode: '770',
                    state: 'DU'
                }
                ],
                newServiceID: '',
                newProducts: '',
                services:[{
                   serviceID: 'alex_test',
                   products: 'ADMIN: Multiservice Admin Account'
                }],
                active:[],
                editname:'',
                editemail:'',
                editcompany:'',
                editnumber:'',
                editfirstname:'',
                editlastname:'',
                contactid:'',
                editworknumber:'',
                editmobile: '',
                edithome: '',
                editfax: '',
                editstreet: '',
                editcity:'',
                editpostcode: '',
                editstate:'',
                search:'',
                userImage:'',
                editserviceID: '',
                editproductID: '',
                serviceid:'',
                userdata: []
            }
        },
        components:{
        },
        mounted:function(){
              
        },
        created() {
           this.countServices(),
           this.activeService(),
           this.activeUserData()
        },
        methods: {
         countServices() {
                 axios
                    .get('api/accountSummary')
                    .then(response => {
                       //   setInterval(function(){ 
                        this.preloader = false;
                        this.users = response.data.users
                         // }, 3000);
                    });
            },
            activeService()
            {
                   axios
                    .get('api/getservice')
                    .then(response => {
                        //setInterval(function(){ 
                        this.preloader = false;
                        this.active = response.data.services
                         // }, 3000);
                        
                    });
            },
            activeUserData()
            {
                   axios
                    .get('api/getuserdata')
                    .then(response => {
                       // setInterval(function(){ 
                            this.preloader = false;
                            this.userdata = response.data.userdata
                         //}, 3000);
                    });
            },
            editservice(index){
                this.editserviceID = this.active[index].username;
                this.editproductID = this.active[index].description;
                this.active.id = index;
                this.$refs.editservice.show();
            },
            updateService () {
               axios
                    .post('api/updateuser',{
                        //rate_id: this.editserviceID,
                        description: this.editproductID
                    })
                    .then(response => {
                        //this.active.rate_id = this.editserviceID;
                        this.active.description = this.editproductID;
                        
                    });
                    this.activeService();
                    this.$refs.editservice.hide()
                    this.modalTask=false
               
            },
            deletecontact (index) {
//                this.$refs.deletemodal.show()
                this.contacts.splice(index,1);
            },
            editcontact(index){
                this.editname = this.userdata[index].username;
                this.editemail = this.userdata[index].reciptto;
                this.editcompany = this.userdata[index].company;
                this.editnumber = this.userdata[index].acn;
                this.editlastname = this.userdata[index].lastname;
                this.editfirstname = this.userdata[index].firstname;
                this.editworknumber = this.userdata[index].work;
                this.editmobile = this.userdata[index].mobile;
                this.edithome = this.userdata[index].home;
                this.editfax = this.userdata[index].fax;
                this.editstreet = this.userdata[index].street;
                this.editcity = this.userdata[index].city;
                this.editpostcode = this.userdata[index].postcode;
                this.editstate = this.userdata[index].state;
                this.userdata.id = index;
                this.$refs.editcontact.show();
            },

            updateContact () {
                 axios
                    .post('api/updateuserdata',{
                        //username: this.editname,
                        reciptto: this.editemail,
                        company: this.editcompany,
                        acn: this.editnumber,
                        firstname: this.editfirstname,
                        lastname: this.editlastname,
                        work: this.editworknumber,
                        mobile: this.editmobile,
                        home: this.edithome,
                        fax: this.editfax,
                        street: this.editstreet,
                        city: this.editcity,
                        postcode: this.editpostcode,
                        state: this.editstate
                    })
                    .then(response => {
                        //this.userdata.username = this.editname;
                        this.userdata.reciptto = this.editemail;
                        this.userdata.company = this.editcompany;
                        this.userdata.acn = this.editnumber;
                        this.userdata.firstname = this.editfirstname;
                        this.userdata.lastname = this.editlastname;
                        this.userdata.work = this.editworknumber;
                        this.userdata.mobile = this.editmobile;
                        this.userdata.home = this.edithome;
                        this.userdata.fax = this.editfax;
                        this.userdata.street = this.editstreet;
                        this.userdata.city = this.editcity;
                        this.userdata.postcode = this.editpostcode;
                        this.userdata.state = this.editstate;
                        
                    });
              
                this.activeUserData();
                this.$refs.editcontact.hide()
                this.modalTask=false
            },
            cancel(){
                this.$refs.editservice.hide()
                this.$refs.editcontact.hide()
            },
            onFileChange(e) {
                var files = e.target.files || e.dataTransfer.files
                if (!files.length) {
                    return
                }
                this.createImage(files[0])
            },
            createImage(file) {
                var reader = new FileReader()
                var vm = this

                reader.onload = (e) => {
                    vm.userImage = e.target.result
                }
                reader.readAsDataURL(file)

            }
        },
        computed:{
       
           currentUser() {
                return this.$store.getters.currentUser
            },
            allContacts:function()
            {
                var self=this;
                return this.contacts.filter(function(newcontact){return newcontact.name.toLowerCase().indexOf(self.search.toLowerCase())>=0;});
                //return this.customers;
            },
             allServices:function()
            {
                var self=this;
                return this.services.filter(function(newservice){return newservice.products.toLowerCase().indexOf(self.search.toLowerCase())>=0;});
                //return this.customers;
            }
        }
    }
     window.onload=function () {
        document.querySelector('#preloader').remove()
    }
</script>
<!-- styles -->
<!-- adding scoped attribute will apply the css to this component only -->
<style src="assets/css/widgets.css" scoped></style>
<style scoped>
    #preloader{
            position: fixed;
            top:0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 9999;
            background: #6f9fe6;
        }
        .spinner {
            margin: auto;
            width: 70px;
            height: 70px;
            position: relative;
            top: 45%;
            text-align: center;
            -webkit-animation: sk-rotate 2.0s infinite linear;
            animation: sk-rotate 2.0s infinite linear;
        }

        .dot1,
        .dot2 {
            width: 60%;
            height: 60%;
            display: inline-block;
            position: absolute;
            top: 0;
            background-color: #fff;
            border-radius: 100%;
            -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
            animation: sk-bounce 2.0s infinite ease-in-out;
        }

        .dot2 {
            top: auto;
            bottom: 0;
            -webkit-animation-delay: -1.0s;
            animation-delay: -1.0s;
        }

        @-webkit-keyframes sk-rotate {
            100% {
                -webkit-transform: rotate(360deg)
            }
        }

        @keyframes sk-rotate {
            100% {
                transform: rotate(360deg);
                -webkit-transform: rotate(360deg)
            }
        }

        @-webkit-keyframes sk-bounce {
            0%,
            100% {
                -webkit-transform: scale(0.0)
            }
            50% {
                -webkit-transform: scale(1.0)
            }
        }

        @keyframes sk-bounce {
            0%,
            100% {
                transform: scale(0.0);
                -webkit-transform: scale(0.0);
            }
            50% {
                transform: scale(1.0);
                -webkit-transform: scale(1.0);
            }
        }
</style>
<style type="text/css" lang="scss">
    .index2_table .table-responsive .card {
        border: none;
        box-shadow: none;
        margin-bottom: 0;
    }

    .index2_swiper .swiper-pagination-bullet-active {
        background: #08aa80;
    }
    /*===============================notes========*/

    .notes {
        line-height: 22px;
        font-size: 13px;
        padding: 0 15px 0 36px;
        position: relative;
        outline: none;
        background: #fff;
        background-size: 100% 30px;
    }

    .notes p {
        border-bottom: 1px solid #dfe8ec;
        ;
    }

    .notes::after {
        content: '';
        position: absolute;
        width: 0;
        top: 0;
        left: 25px;
        bottom: 0;
        border-left: 1px solid #0fd1c1;
    }

    .social .bg-default-card .info {
        font-size: 12px;
    }

    .social .bg-default-card span {
        display: block;
        text-transform: uppercase;
    }

    .social .bg-default-card .value {
        font-size: 40px;
        line-height: normal;
    }


    .social .bg-default-card {
        i {
            transition: 300ms;
        }
        &:hover {
            i {
                font-size: 45px;
                transition: 300ms;
            }
        }
    }

    .social_cuntdata {
        font-weight: bold;
        font-size: 18px;
    }

    .subscribe_btn {
        background-color: transparent;
        border: 0;
        outline: none;
    }

    .widget_social_icons {
        background-color: #fff;
    }

    .fb_text {
        color: #215fe2;
        font-size: 28px;
    }

    .box_shadow {
        box-shadow: 2px 2px 15px 0px #ccc;
    }

    .head_color {
        color: #686868;
    }

    .text_size {
        font-size: 25px;
        color: #797f82;
    }

    .text-ash {
        color: #575f65;
    }

    .text_color {
        color: #646161 !important;
    }

    .swiper-pagination {
        margin: 0 !important;
    }

    .text-blue {
        color: #215fe2;
    }

    .progress_color2 .progress-bar {
        background-color: #7FAFF7;
    }

    .icon_color {
        font-size: 27px;
        color: #828686;
    }

    .icon_color1 {
        font-size: 25px;
        color: #6e8dce;
    }

    .line {
        border-top: 1px solid #ccc;
    }

    .text_head_Color {
        color: #707373;
    }

    .below_text {
        color: #a2a1a1;
    }

    .index2_table th {
        color: #686868;
    }

    .index2_table td {
        color: #686868;
    }

    .user_color {
        color: #8e8c8e;
    }

    .count1 {
        font-size: 18px;
        color: #686868;
    }

    .ti_color {
        color: #215fe2;
    }

    .fb_color {
        font-size: 18px;
        color: #3B5998;
    }

    .twi_color {
        color: #00aced;
        font-size: 18px;
    }

    .gi_color {
        color: red;
        font-size: 18px;
    }

    .pin_color {
        color: red;
    }

    .cam_color {
        color: green
    }

    .events1 {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding-top: 2px;
        padding-bottom: 2px;
        margin-top: 15px;
        margin-right: -20px;
        font-size: 18px;
        color: #555;
    }

    .online_dot img {
        position: relative;
    }

    .online_dot::after {
        content: "";
        position: absolute;
        margin-top: -28px;
        height: 11px;
        width: 11px;
        border: 2px solid #FFF;
        border-radius: 50%;
        background-color: green;
        margin-left: -13px;
    }

    .conversation-list .ctext-wrap p {
        margin: 0;
        padding-top: 3px;
    }

    .conversation-list .odd .ctext-wrap:after {
        border-color: rgba(238, 238, 242, 0);
        left: 99%;
        margin-right: -1px;
        border-top: 0 solid #D8F1E4;
        border-left: 12px solid #D8F1E4;
        border-bottom: 14px solid transparent;
    }

    .conversation-list .ctext-wrap p {
        margin: 0;
        /*padding-top: 3px;*/
    }

    .ctext-wrap p {
        margin-bottom: 10px;
    }

    .conversation-list .odd .conversation-text {
        float: right;
        margin-right: 25px;
        text-align: right;
        width: 95%;
    }

    .conversation-list .ctext-wrap i {
        color: #777;
        display: block;
        font-size: 11px;
        font-style: normal;
        position: relative;
    }

    .conversation-list .conversers1 .ctext-wrap {
        background: #D8F1E4;
    }

    .conversation-list .ctext-wrap {
        border-radius: 3px;
        display: inline-block;
        padding: 5px 10px;
        position: relative;
        box-shadow: 2px -2px 4px 0px rgba(0, 0, 0, 0.1)
    }

    .text-field {
        padding: 6px 10px;
    }

    .conversation-list .odd .ctext-wrap:after {
        border-color: rgba(238, 238, 242, 0);
        left: 99%;
        margin-right: -1px;
        border-top: 0 solid #D8F1E4;
        border-left: 12px solid #D8F1E4;
        border-bottom: 14px solid transparent;
    }

    .conversation-list .ctext-wrap:after {
        right: 100%;
        top: 0;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        margin-left: -1px;
        border-top: 0 solid #fff;
        border-right: 12px solid #e9f9ff;
        border-bottom: 14px solid transparent;
    }

    .clearfix:after {
        clear: both;
    }

    .back_color1 {
        width: auto;
        height: 274px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .conversation-list .conversation-text {
        float: left;
        font-size: 13px;
        width: 70%;
    }

    .clearfix:before,
    .clearfix:after {
        content: " ";
        display: table;
    }

    .conversation-list .conversers2 .ctext-wrap {
        background: #e9f9ff;
    }

    .m-t-10 {
        margin-top: 10px !important;
    }

    .conversation-list {
        width: auto;
        height: 340px;
        padding-left: 27px;
    }

    .profile-img {
        background-color: #fff;
    }
    .chat-conversation{
        width: 100%;
    }
    a:hover{
        color:#575f65;
    }
</style>
<style src="chartist/dist/chartist.css"></style>
