<template>
    <div class="col-lg-12">
                <b-card  header-tag="h4" class=" bg-primary-card mb-3 mt-4" title="Cynergic User Portal v1.1 released!" sub-title="Wednesday, 2012-12-05" show-footer>
                    <p>
          After examining customer feedback and looking at the most common management requests that result in Cynergic staff having to manually make changes (resulting in delays for clients) we've added some new management interfaces to help customers manage their services. Phone Contacts can now be managed, you can access this interface through the voice service page (click on the far left column "Number").
                    </p>
                    <p slot="footer" class="mt-2">
                        Last updated 3 mins ago
                    </p>
                </b-card>
                <b-card  header-tag="h4" class=" bg-primary-card mb-3 mt-4" title="Email & Out of Office Reply Management"  show-footer>
                    <p>
         We've added a simple email manager so you can update your emails, removed old emails and add new ones. You can also manage your vacation messages here. Please note that this only applies to emails on our common hosting environment. If your email is hosted on the primary Cynergic mail server (203.57.78.12 or mail.cynergic.net) then this applies to you. If you have your own server or your hosting is through one of our Plesk, cPanel or Hosted Exchange servers then you will continue to manage your emails on those respective servers.
                    </p>
                    <p slot="footer" class="mt-2">
                        Last updated 3 mins ago
                    </p>
                </b-card>
                <b-card  header-tag="h4" class=" bg-primary-card mb-3 mt-4" title="Tickets"  show-footer>
                    <p>
        Service tickets can now be submitted directly to our company CRM (ConnectWise) from the Tickets panel and a ticket reference number will be dispayed immediately for your records. You can then monitor the ticket in the Tickets panel for any updates. Hover your mouse pointer over each ticket to see the latest information.
                    </p>
                    <p slot="footer" class="mt-2">
                        Last updated 3 mins ago
                    </p>
                </b-card>
            </div>
            </template>
<script>
    import Vue from 'vue'
    import fullCalendar from 'vue-fullcalendar'
    import flatPickr from 'vue-flatpickr-component';
    import 'flatpickr/dist/flatpickr.css';

    export default {
        name: "news",
        components: {
            fullCalendar,
            flatPickr
        },
        data() {
            return {
               
            }
        },
        methods: {
           
           
            
           
        },
        computed: {
          
        }
    }
</script>
<style scoped>
    .evt-handler,
    .evt-editor {
        position: fixed;
        z-index: 1500;
        transform: translate(-50%, -50%);
        min-width: 210px;
    }
    div.cal {
        padding-bottom: 70px;
    }
    .time_pic{
        background-color: #fff;
    }

    @media (min-width: 992px) and (max-width: 2560px) {
        .evt-handler,
        .evt-editor {
            position: fixed;
            z-index: 1500;
            transform: translate(-50%, -50%);
            min-width: 500px;
        }
    }
</style>
