<template>
    <div class="col-lg-12">
        <div class="row">
<a class="twitter-timeline"  href="https://twitter.com/cynergicnotices"  data-widget-id="376945721439555585" data-chrome="nofooter">Tweets by @cynergicnotices</a>
</div>
    </div>   
   
</template>

<script>
    export default {
        name:'notifications',
        data(){
            return{
               
            }
        },
        components:{
        },
        mounted:function(){


        },
        methods: {
           
        },
        computed:{
           
        }
    }
</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<style scoped>
    /* to do list */
    .todoside-menu a:hover{
        background-color: #f5f5f5;
    }
    .todoside-menu a{
        font-size: 15px;
        color: #333;
    }
    .faExclamationCircle::before{
        content: "\f06a";
        font-size: 14px;
        top:-8px;
        position: relative;
    }
    .tasksearch,.tasks-list{
        box-shadow:0px 0px 1px 1px #cfcfcf;
    }
    /*.custom-control-label::after, .custom-control-label::before{*/
        /*width: 2rem;*/
        /*height: 2rem;*/
    /*}*/
    .box-shadow{
        box-shadow: 0px 0px 1px 1px #cfcfcf;
    }
    .tasks-table-list{
        max-height: 80vh;
        overflow-y: scroll;
        margin-bottom: 10px;
    }
    .todoside-menu .side-content .active{
        background-color: #eee;
        color: #3e6174;
    }
    .table td .custom-control.custom-checkbox{
        margin-top: 1px;
    }
    .custom-control-inline{
        margin-right: 0;
    }
    .task-type{
        border-bottom: 1px solid #eee;
    }
    .textDanger{
        /*color: #ff6666;*/
        font-weight: 600;
    }
    .textDanger::before{
        content: '.';
        font-size: 42px;
        line-height: 5px;
        font-weight: 900;
        top: -3px;
        left: -5px;
        position: relative;
        color: #fd7570;
    }

</style>