<template>
    <div class="container-fluid img_backgrond">
        <div class="row">
            <div class="col-lg-4 offset-lg-4 col-sm-6 offset-sm-3 col-xs-10 offset-xs-1 login-content mt-5">
                <div class="row">
                    <div class="col-sm-12 mt-4">
                        <h2 class="text-center">
              <img src="~img/logo_black.png" alt="Logo">
            </h2>
                    </div>
                    <div class="col-sm-12 mt-4">
                        <h3 class="page-name text-center">Forgot Password</h3>
                    </div>
                </div>
                <vue-form :state="formstate" @submit.prevent="sendPasswordResetEmail" v-if="seconds>4">
                    <div class="col-lg-12">
                        <p class="user-message "> Please enter the email you are registered with. An email message will be sent to the email address with further instructions.</p>
                        <div class="form-group">
                            <validate tag="div">
                                <input v-model="email" name="email" type="email" required placeholder="E-mail" class="form-control" />
                                <field-messages name="email" show="$invalid && $submitted" class="text-danger">
                                    <div slot="required">Email is a required field</div>
                                    <div slot="email">Email is not valid</div>
                                </field-messages>
                            </validate>
                        </div>
                    </div>
                    <div class="col-12 mt-4">
                        <div class="form-group">
                            <button type="submit" value="" class="btn btn-primary btn-block" :disabled="disableSubmit">Send Confirmation Mail</button>
                        </div>
                    </div>
                </vue-form>
                <div class="container" v-else>
            <h2 class="text-success mt-5">Password recovery email sent!</h2>

            <div class="progress mt-3 mb-3 ml-5 mr-5">
                <div class="progress-bar bg-success" role="progressbar" :style="progress" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>

            <h3>Redirecting in {{seconds}} seconds</h3>

        </div>
            </div>
        </div>
    </div>
</template>
<script>
import Vue from 'vue'
import VueForm from "vue-form";
import options from "src/validations/validations.js";
Vue.use(VueForm, options);
export default {
    name: "forgetpassword",
    data() {
        return {
            formstate: {},
             'disableSubmit':false,
             'email':'',
             'seconds': 5
        }
    },
     computed:{
            progress:function(){
                return 'width: ' + ( 20*Math.abs(5-this.seconds) ) + '%';
            }
        },
    methods: {
        sendPasswordResetEmail: function () {
                self = this;
                self.disableSubmit=true;
                axios.post('/password/email', {'email':self.email} )
                    .then((resp) => {
                        self.countdownRedirect();
                    })
                    .catch(()=>{
                        self.disableSubmit=false;
                        self.seconds=5;
                    })
            },
            countdownRedirect: function () {
                self = this;
                setInterval(()=>{
                    self.seconds=self.seconds-1;
                    if (self.seconds === 0) {
                        self.$router.push('/');
                    }
                }, 1000);
            },
    },
    mounted: function() {

    },
    destroyed: function() {

    }
}
</script>
<style scoped>
.login-content {
    margin-top: 7%;
    margin-bottom: 7%;
    padding-bottom: 20px;
    box-shadow: 0 0 20px #ccc;
    background-size: 100% 100%;
    border-radius: 7px;
}

.user-message {
    padding: 15px 0;
    font-size: 14px;
    color: #777;
}
.img_backgrond{
    background-image: url("~img/pages/Login-03-01.png");
    background-size: cover;
    height: 100vh;
    width:100%;
}
label{
    font-size: 14px !important;
}
::-webkit-input-placeholder {
    font-size:14px;
}
</style>
