<template>
    <div>
        <div class="row">
            <div class="col-lg-12 col-sm-12 text-center">
                <h3 class="plan-desc"><strong>Meet our Web Hosting Tariff - 1 </strong></h3>
            </div>
            <div class="col-lg-10 offset-lg-1 col-sm-12">
                <!--tarrif modal 1-->
                <div class="row">
                    <div class="col-sm-4 text-center">
                        <div class="basic modal-1">
                            <div class="pack-heading">
                                <h4 class="pack-title text-primary"><strong>Basic</strong></h4>
                                <div class="pack-price bg-primary"><strong class="text-white">12$</strong></div>
                            </div>
                            <ul class="pack-details list-unstyled">
                                <li>6 GB Storage</li>
                                <li>350 GB Bandwidth</li>
                                <li>No Domain</li>
                                <li>2 User</li>
                                <li>3 Databases</li>
                                <li>24x7 Email Support</li>
                            </ul>
                            <button class="btn btn-primary center-block btn-getit">Get it now</button>
                        </div>
                    </div>
                    <div class="col-sm-4 text-center">
                        <div class="standard modal-1">
                            <div class="trending-tag">
                                <div class="tag-design bg-primary text-white">Best Deal</div>
                            </div>
                            <div class="pack-heading">
                                <h4 class="pack-title text-primary"><strong>Standard</strong></h4>
                                <div class="pack-price bg-primary"><strong class="text-white">17$</strong></div>
                            </div>
                            <ul class="pack-details list-unstyled">
                                <li>14 GB Storage</li>
                                <li>500 GB Bandwidth</li>
                                <li>2 Domains</li>
                                <li>5 User</li>
                                <li>7 Databases</li>
                                <li>24x7 Email Support</li>
                            </ul>
                            <button class="btn btn-primary center-block btn-getit">Get it now</button>
                        </div>
                    </div>
                    <div class="col-sm-4 text-center">
                        <div class="premium modal-1">
                            <div class="pack-heading">
                                <h4 class="pack-title text-primary"><strong>Premium</strong></h4>
                                <div class="pack-price bg-primary"><strong class="text-white">25$</strong></div>
                            </div>
                            <ul class="pack-details list-unstyled">
                                <li>6 GB Storage</li>
                                <li>620 GB Bandwidth</li>
                                <li>6 Domains</li>
                                <li>12 User</li>
                                <li>15 Databases</li>
                                <li>24x7 Email Support</li>
                            </ul>
                            <button class="btn btn-primary center-block btn-getit">Get it now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-sm-12 text-center mb-3 mt-5">
                <h3 class="plan-desc"><strong>Meet our Web Hosting Tariff - 2 </strong></h3>
            </div>
            <div class="col-lg-12 col-sm-12">
                <!--tarrif modal 2-->
                <div class="row">
                    <div class="col-sm-4">
                        <div class="shared modal-2">
                            <div class="pack-heading">
                                <div class="pack-price bg-primary text-center"><strong class="text-white">17$</strong></div>
                                <h4 class="pack-title">
                                    <strong class="text-muted">Shared</strong>
                                    <small class="text-primary">Hosting</small>
                                </h4>
                                <p class="pack-desc">We provide every necessary tool to get a website running as quickly as possible.</p>
                                <hr>
                            </div>
                            <div class="pack-body">
                                <ul class="pack-details list-unstyled">
                                    <li><i class="fa fa-rss text-primary" aria-hidden="true"></i> 350GB Band Width</li>
                                    <li><i class="fa fa-arrow-circle-down text-primary" aria-hidden="true"></i> Free Domain
                                    </li>
                                    <li><i class="fa fa-database text-primary" aria-hidden="true"></i> 50 Data Base</li>
                                </ul>
                                <div class="tarrif_icon"><i class="fa fa-window-restore" aria-hidden="true"></i></div>
                                <button class="btn btn-primary btn-md text-dark">Know More</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="vps modal-2">
                            <div class="pack-heading">
                                <div class="pack-price bg-danger text-center"><strong>17$</strong></div>
                                <h4 class="pack-title">
                                    <strong class="text-muted">VPS</strong>
                                    <small class="text-danger">Hosting</small>
                                </h4>
                                <p class="pack-desc">We provide every necessary tool to get a website running as quickly as possible.</p>
                                <hr>
                            </div>
                            <div class="pack-body">
                                <ul class="pack-details list-unstyled">
                                    <li><i class="fa fa-rss text-danger" aria-hidden="true"></i> 800GB Band Width</li>
                                    <li><i class="fa fa-arrow-circle-down text-danger" aria-hidden="true"></i> Free Domain
                                    </li>
                                    <li><i class="fa fa-database text-danger" aria-hidden="true"></i> 200 Data Base</li>
                                </ul>
                                <div class="tarrif_icon"><i class="fa fa-clipboard" aria-hidden="true"></i></div>
                                <button class="btn btn-danger btn-md">Know More</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="dedicated modal-2">
                            <div class="pack-heading">
                                <div class="pack-price bg-info text-center"><strong>25$</strong></div>
                                <h4 class="pack-title">
                                    <strong class="text-muted">Dedicated</strong>
                                    <small class="text-info">Hosting</small>
                                </h4>
                                <p class="pack-desc">We provide every necessary tool to get a website running as quickly as possible.</p>
                                <hr>
                            </div>
                            <div class="pack-body">
                                <ul class="pack-details list-unstyled">
                                    <li><i class="fa fa-rss text-info" aria-hidden="true"></i> 1350GB Band Width</li>
                                    <li><i class="fa fa-arrow-circle-down text-info" aria-hidden="true"></i> Free Domain</li>
                                    <li><i class="fa fa-database text-info" aria-hidden="true"></i> 350 Data Base</li>
                                </ul>
                                <div class="tarrif_icon"><i class="fa fa-database" aria-hidden="true"></i></div>
                                <button class="btn btn-info btn-md">Know More</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>
<script>
export default {
    name: "Payment",
    mounted: function() {

    },
    destroyed: function() {

    }
}
</script>
<style src="assets/css/pricing.css" scoped></style>
