<template>

    <div>
        <div class="row" >
             <div id="preloader" v-if="preloader">
        <div class="spinner">
            <div class="dot1"></div>
            <div class="dot2"></div>
        </div>
             </div>
        <div class="col-xl-3 col-lg-6 col-sm-6 text-center">
              <b-card claass="bg-default-card easy_pie_chart1">
                  <div class="row">
                      <div class="col-12 mb-3 mt-3">
                           <div class="row">
                               <div class="col-4 p-t-10 push-1">
                                   <div class="top_border1 bg_color1">
                                   <i class="fa fa-user-o circle_round"></i>
                                   </div>
                               </div>
                               <div class="col-8 m-t-10">
                                   <p class="user_font">Active Users</p>
                                   <p class="number_size">4</p>
                               </div>
                           </div>
                      </div>
                  </div>
              </b-card>
            </div>
            <div class="col-xl-3 col-lg-6 col-sm-6 text-center">
                <b-card claass="bg-default-card easy_pie_chart1">
                    <div class="row">
                        <div class="col-12 mb-3 mt-3">
                            <div class="row">
                                <div class="col-4 p-t-10 push-1">
                                    <div class="top_border2 bg_color2">
                                        <i class="fa fa-download circle_round1"></i>
                                    </div>
                                </div>
                                <div class="col-8 m-t-10">
                                    <p class="user_font">Total Download</p>
                                    <p class="number_size">100MB</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </b-card>
            </div>
            <div class="col-xl-3 col-lg-6  col-sm-6 text-center">
                <b-card claass="bg-default-card easy_pie_chart1">
                    <div class="row">
                        <div class="col-12 mb-3 mt-3">
                            <div class="row">
                                <div class="col-4 p-t-10 push-1">
                                    <div class="top_border3 bg_color3">
                                        <i class="fa fa-server circle_round1"></i>
                                    </div>
                                </div>
                                <div class="col-8 m-t-10">
                                    <p class="user_font">Hosting Tariff</p>
                                    <p class="number_size">Standart</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </b-card>
            </div>
            <div class="col-xl-3 col-lg-6 col-sm-6 text-center">
                <b-card claass="bg-default-card easy_pie_chart1">
                    <div class="row">
                        <div class="col-12 mb-3 mt-3">
                            <div class="row">
                                <div class="col-4 p-t-10 push-1">
                                    <div class="top_border4 bg_color4">
                                        <i class="fa fa-wifi circle_round"></i>
                                    </div>
                                </div>
                                <div class="col-8 m-t-10">
                                    <p class="user_font">Active DNS</p>
                                    <p class="number_size">3</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </b-card>
            </div>
        </div>
          
                        <div class="col-lg-12">
                            <div class="card bg-primary-card">
                                <h4 class="card-header" style="color:#fff">Services List</h4>
                                <div class="card-body">
                                    <div data-v-44d91495="" class="text-left">
                                        <label>  <input type="search"  placeholder="Search here" class="search form-control pl-2 pr-2" v-model="search"></label>
                                         <div data-v-44d91495="" class="actions float-right pr-4 mb-3">
                                             <a data-v-44d91495=""  href="javascript:undefined" title="export excel" class="btn btn-info text-white"><i data-v-44d91495="" class="fa fa-download"></i></a>
                                             </div></div>
                                     <b-tabs>
                        <b-tab  v-for="header in headers" :key="header.rate_id" :title="header.description" v-if="header.description === 'Internet'" active>
                                <div class="table-responsive" v-for="i in services" v-if="i.creation">
                                            <table class="table">
                                                 <thead>
                                        <th>Username</th>
                                    
                                        <th>Plan</th>
                                        <th>Date</th>
                                        <th>Download (mb)</th>
                                        <th>Upload (mb)</th>
                                        <th>Actions</th>
                                    </thead>
                                    <tbody>
                                                <tr v-for="(service, index) in allServices" :key=" service.serviceID">
                                                   
                                                    <td><router-link :to="`/details/${i.uid}`">  <b-btn :id="'exPopover1-'+service" :variant="color[index]" class="text-white">
                                                    {{ i.username }}
                                                     </b-btn></router-link>
                                                      <b-popover :target="'exPopover1-'+service"
                                                        :service="service"
                                                        title="This is a parent account.object:user_info!"
                                                        triggers="hover focus"
                                                        :content="`Object_ID: ${i.uid}\n namespase:parent\n parents:${i.description}\n rateID:${i.rate_id}`">
                                                    </b-popover>
                                                     </td>
                                                    <td>{{i.description }}</td>
                                                    <td>{{ i.creation }}</td>
                                                    <td>{{ i.down}}</td>
                                                    <td>{{ i.up }}</td>
                                                
                                            
                                            
                                                    <td><span class="fa fa-edit" @click="editservice(index)"></span></td>
                                                
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                        </b-tab>
                        <b-tab v-for="header in headers" :key="header.rate_id" :title="header.description" v-if="header.description === 'Hosting'">
                             <table class="table">
                                                 <thead>
                                        <th>User ID</th>
                                        <th>Plan</th>
                                        <th>Username</th>
                                        <th>Domain</th>
                                        <th>Usage</th>
                                    </thead>
                                    <tbody>
                                                <tr v-for="hosting in hostings">
                                                   
                                        
                                                    <td>{{hosting.id }}</td>
                                                    <td>{{ hosting.description }}</td>
                                                    <td>{{ hosting.domain_user}}</td>
                                                    <td>{{ hosting.domain_name}}</td>
                                                    <td>{{ hosting.bytes }}</td>
                                                
                                                </tr>
                                                </tbody>
                                            </table>
                        </b-tab>
                         <b-tab v-for="header in headers" :key="header.rate_id" :title="header.description" v-if="header.description === 'Domain'">
                             <table class="table" v-for="(domain, index) in domains">
                                                 <thead>
                                        <th>Domain</th>
                                        <th>Expiry</th>
                                        <th>Certificate</th>
                                        <th v-if="domain.dns_master_ip=='203.31.101.5'">DNS</th>
                                    </thead>
                                    <tbody>
                                                <tr v-for="(domain, index) in domains">
                                                   
                                        
                
                                                    <td>{{ domain.domain_name}}</td>
                                                    <td>{{ domain.expiry}}</td>
                                                
                                                    <td><b-btn :variant="color[index]" class="text-white">
                                                        Download Certificate
                                                     </b-btn></td>
                                                         <td v-if="domain.dns_master_ip=='203.31.101.5'"><button class="btn btn-primary" @click="editdomain(index)">Manage DNS</button></td>
                                                </tr>
                                                </tbody>
                                            </table>
                        </b-tab>
                          <b-tab v-for="header in headers" :key="header.rate_id" :title="header.description" v-if="header.description === 'Email'">
                             <table class="table">
                                                 <thead>
                                        <th>Username</th>
                                        <th>Aliases</th>
                                        <th>Disk</th>
                                        <th>Modify</th>
                                    </thead>
                                    <tbody>
                                                <tr v-for="(email, index) in emails">
                                                   
                                                <td>{{ email.username}}</td>
                                                   
                                                <td>{{ email.address}}</td>
                                                <td>{{ email.disk_usage}} (MB)</td>
                                                <td><button class="btn btn-primary" @click="editemail(index)">Manage Email</button></td>
                                                </tr>
                                                </tbody>
                                            </table>
                        </b-tab>
                         <b-tab v-for="header in headers" :key="header.rate_id" :title="header.description" v-if="header.description === 'Voice'">
                             <table class="table" v-for="voice in services">
                                                 <thead>
                                        <th>Date</th>
                                    
                                        <th>UP</th>
                                        <th>DOWN</th>
                                        <th>Calls</th>
                                    </thead>
                                    <tbody>
                                                <tr>
                                                   
                                                    <td>{{voice.date }}</td>
                                                    <td>{{voice.up}}</td>
                                                    <td>{{voice.down}}</td>
                                                    <td>{{voice.calls}}</td>
                                                
                                                </tr>
                                                </tbody>
                                            </table>
                         </b-tab>
                          <b-tab v-for="header in headers" :key="header.rate_id" :title="header.description" v-if="header.description === 'Misc'">
                            <table class="table" v-for="m in services" v-if="m.id" :key="m.id">
                                                 <thead>
                                        <th>Service ID</th>
                                    
                                        <th>Product</th>
                                        <th>Actions</th>
                                    </thead>
                                    <tbody>
                                                <tr v-for="(service, index) in allServices" :key=" service.serviceID">
                                                   
                                                    <td> <router-link :to="`/details/${m.id}`"> <b-btn :id="'exPopover1-'+service" :variant="color[index]" class="text-white">
                                                    {{ m.username }}
                                                     </b-btn></router-link>
                                                      <b-popover :target="'exPopover1-'+service"
                                                        :service="service"
                                                        title="This is a parent account.object:user_info!"
                                                        triggers="hover focus"
                                                        :content="`Object_ID: ${m.id}\n namespase:parent\n parents:${m.description}\n rateID:${m.rate_id}`">
                                                    </b-popover>
                                                     </td>
                                                    <td>{{m.description}}</td>
                                            
                                            
                                                    <td><span class="fa fa-edit" @click="editservice(index)"></span></td>
                                                
                                                </tr>
                                                </tbody>
                                            </table>
                         </b-tab>
                                     </b-tabs>
                                        </div>
                                        
                          </div>
                          
                          
                          </div>
                          
                
                      <b-modal ref="editservice" hide-footer title="Service details">
                  <span>Service ID</span>
                    <input type="text" class="form-control mt-3" placeholder="Enter Service" v-model="editserviceID">
                    <span>Description</span>
                    <input type="text" class="form-control mt-3" placeholder="Enter Product" v-model="editdescription">
                    <b-btn class="mt-3 text-white" variant="success" block @click="updateService()">Update</b-btn>
            <b-btn class="mt-3 text-white"  variant="danger" block @click="cancel">Cancel</b-btn>
              </b-modal>


            <b-modal ref="editdomain" hide-footer title="Manage DNS">
                  <span>Name</span>
                    <input type="text" class="form-control mt-3" placeholder="Enter Service" v-model="editName">
                    <span>Value</span>
                    <input type="text" class="form-control mt-3" placeholder="Enter Product" v-model="editValue">
                    <b-btn class="mt-3 text-white" variant="success" block @click="updateDomain()">Update</b-btn>
            <b-btn class="mt-3 text-white"  variant="danger" block @click="cancel">Cancel</b-btn>
              </b-modal>
              <b-modal ref="editemail" hide-footer title="Manage Email">
                  <span>Email</span>
                    <input type="text" class="form-control mt-3" placeholder="Enter Service" v-model="editAddress">
    
                    <b-btn class="mt-3 text-white" variant="success" block @click="updateEmail()">Update</b-btn>
            <b-btn class="mt-3 text-white"  variant="danger" block @click="cancel">Cancel</b-btn>
              </b-modal>
              
    </div>
</template>
<script>
import Vue from 'vue';
import task from "components/widgets/task_component/task.vue";
import chat from "components/widgets/chat_component/chat.vue";
import weather from "components/widgets/weather/weather.vue";
import IEcharts from 'vue-echarts-v3/src/full.js';
import VueChartist from 'v-chartist';
import LinearGradient from 'zrender/lib/graphic/LinearGradient';
import VueAwesomeSwiper from 'vue-awesome-swiper';
import vScroll from "components/plugins/scroll/vScroll.vue";
import chat_data from "assets/js/chat_data";


import Trend from 'vuetrend';
import easyPieChart from "components/plugins/easypiechart/easyPieChart.vue"

Vue.use(Trend);
Vue.use(VueAwesomeSwiper);
require('swiper/dist/css/swiper.css')

var unsub;
export default {
    name: "index",
    components: {
        IEcharts,
        vScroll,
        easyPieChart,
        task,
        chat,
        weather,
        VueChartist
    },
    data() {
        return {
                 placements: [
                     'top'
                ],
                color:['primary','danger','success','warning'],
                currentPage: 2,
                currentPage2: 4,
                currentpage3:5,
                preloader: true,
                progress1counter1: 10,
                progress1counter2: 30,
                progress1counter3: 45,
                progress1counter4: 50,
                progress1counter5: 80,
                progress2counter1: 20,
                progress2counter2: 40,
                progress2counter3: 60,
                progress2counter4: 75,
                progress2counter5: 90,
                showDismissibleAlert: true,
            modalShow:false,
             newServiceID: '',
                newProducts: '',
                services:[],
                headers: [],
                hostings: [],
                domains: [],
                emails: [],
                editserviceID: '',
                editdescription: '',
                serviceid:'',
                search:'',
                editName: '',
                editValue: '',
                editAddress:''
        }
    },
    created(){
        this.countServices();
        this.getHostings();
        this.activeService();
        this.getDomains();
        this.getEmails();
    },
    methods: {
         activeService()
            {
                   axios
                    .get('api/services')
                    .then(response => {
                        this.preloader = false;
                        this.services = response.data.services
                    });
            },
            countServices() {
                 axios
                    .get('api/headservice')
                    .then(response => {
                        this.preloader = false;
                        this.headers = response.data.header
                    });
            },
            getHostings(){
                   axios.get('api/gethosting')
                    .then(response => {
                        this.preloader = false;
                        this.hostings = response.data.hostings
                    });
            },
             getDomains(){
                   axios.get('api/getdomains')
                    .then(response => {
                        this.preloader = false;
                        this.domains = response.data.domains
                    });
            },
               getEmails(){
                   axios.get('api/getemail')
                    .then(response => {
                        this.preloader = false;
                        this.emails = response.data.emails
                    });
            },
           editservice(index){
                this.editserviceID = this.services[index].rate_id;
                this.editdescription = this.services[index].description;
                this.services.id = index;
                this.$refs.editservice.show();
            },
            editdomain(index){
                this.editName = this.domains[index].name;
                this.editValue = this.domains[index].value;
                this.domains.id = index;
                this.$refs.editdomain.show();
            },
              editemail(index){
                this.editAddress = this.emails[index].address;
                this.emails.id = index;
                this.$refs.editemail.show();
            },
                updateService () {
               axios
                    .post('api/updateuser',{
                        rate_id: this.editserviceID,
                        description: this.editproductID
                    })
                    .then(response => {
                        this.active.rate_id = this.editserviceID;
                        this.active.description = this.editproductID;
                        
                    });
                    this.activeService();
                    this.$refs.editdomain.hide()
                    this.modalTask=false
               
            },
            updateDomain () {
               axios
                    .post('api/updatedomain',{
                        name: this.editName,
                        value: this.editValue
                    })
                    .then(response => {
                        this.domains.name = this.editName;
                        this.domains.value = this.editValue;
                        
                    });
                    this.getDomains();
                    this.$refs.editdomain.hide()
                    this.modalTask=false
               
            },
            updateEmail(){
                    this.$refs.editemail.hide()
                    this.modalTask=false
            },
             cancel(){
               this.$refs.editservice.hide()
            },

      
        // ===chart animation===

    },
    computed:{
            allServices:function()
            {
                var self=this;
                return this.services.filter(function(newservice){return newservice.description.toLowerCase().indexOf(self.search.toLowerCase())>=0;});
                //return this.customers;
            }
        }
}
 window.onload=function () {
        document.querySelector('#preloader').remove()
    }
</script>

<style>
#preloader{
            position: fixed;
            top:0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 9999;
            background: #6f9fe6;
        }
        .spinner {
            margin: auto;
            width: 70px;
            height: 70px;
            position: relative;
            top: 45%;
            text-align: center;
            -webkit-animation: sk-rotate 2.0s infinite linear;
            animation: sk-rotate 2.0s infinite linear;
        }

        .dot1,
        .dot2 {
            width: 60%;
            height: 60%;
            display: inline-block;
            position: absolute;
            top: 0;
            background-color: #fff;
            border-radius: 100%;
            -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
            animation: sk-bounce 2.0s infinite ease-in-out;
        }

        .dot2 {
            top: auto;
            bottom: 0;
            -webkit-animation-delay: -1.0s;
            animation-delay: -1.0s;
        }

        @-webkit-keyframes sk-rotate {
            100% {
                -webkit-transform: rotate(360deg)
            }
        }

        @keyframes sk-rotate {
            100% {
                transform: rotate(360deg);
                -webkit-transform: rotate(360deg)
            }
        }

        @-webkit-keyframes sk-bounce {
            0%,
            100% {
                -webkit-transform: scale(0.0)
            }
            50% {
                -webkit-transform: scale(1.0)
            }
        }

        @keyframes sk-bounce {
            0%,
            100% {
                transform: scale(0.0);
                -webkit-transform: scale(0.0);
            }
            50% {
                transform: scale(1.0);
                -webkit-transform: scale(1.0);
            }
        }
.index1_swiper .swiper-pagination-bullet-active {
    background: #fff !important;
}
.swiper-widget{
  padding: 7px;

}
.sales-info{
    /*color: #636c72;*/
}
.echarts{
    height: 179px !important;
}
/*socio-tabs*/

.socio-tabs {
    min-height: 370px;
    background-color:#f5f8fa;
}

.socio-tabs .tab-content {
    min-height: 315px;
}

.socio-tabs .nav-item a {
    padding: 15px 0;
    text-align: center;
}

.socio-tabs .nav-tabs li:first-child a.active {
    background-color: #55ACEE;
}

.socio-tabs .nav-tabs li:nth-child(2) a.active {
    background-color: #3B5998;
}

.socio-tabs .nav-tabs li:last-child a.active {
    background-color: #3F729B;
}

.socio-tabs .nav-tabs {
    border-top: 3px solid #FFF;
    border-bottom: 0;
}

.socio-tabs .nav-item {
    width: 33.33%;
}

.socio-tabs .nav-tabs .nav-link,
.socio-tabs .nav-tabs .nav-link:focus,
.socio-tabs .nav-tabs .nav-link:hover {
    border-color: #fff #fff #ddd;
    font-size: 14px;
    color: #777;
}

.socio-tabs .nav-tabs .nav-link.active,
.socio-tabs .nav-tabs .nav-item.show .nav-link {
    border-color: #fff #fff #ddd;
    color: #FFF;
}

.tab-pane .card {
    border-color: #FFF;
    margin:3px 0 0 0;
}

.tab-pane .card-block {
    padding: 12px;
}

.twitter .tweet-img {
    width: 17%;
}
.twitter .tweet {
    width: 83%;
    padding-left: 3%;
}
.swiper-container{
    margin-top: 22px;
}
.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets{
    bottom: 26px !important;
}
a.prfl-link {
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.twitter .tweet .options {
    margin: 0;
}

.twitter .tweet .options i {
    margin-left: 15px;
    cursor: pointer;
}

.facebook .page-img,
.instagram .page-img {
    width: 17%;
}

.facebook .page-name,
.instagram .page-name {
    width: 83%;
    padding-left: 3%;
}
.fb-friends{
    overflow: hidden;
}
.fb-friends img {
    width: 23%;
    margin: 0 0 5px 2px;
    cursor: pointer;
}
.fb-friends img:hover{
    transform: scale(1.1,1.1);
    transition: 300ms
}
.insta-pins .insta-img {
    width: 49%;
    margin: 0 1px;
    float: left;
    position: relative;
}

.insta-pins .insta-img img {
    width: 100%;
    height: 130px;
}

.insta-pins .insta-img .pic-credits {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 3px 7px;
    color: #555;
    background-color: rgba(255, 255, 255, .6);
}

.task1 {
    padding-bottom: 20px!important;
}

.task1 .btn {
    margin-right: 15px!important;
}


/*========chart============*/

#annual-sales {
    position: relative;
    height: 260px;
}

#annual-sales .ct-grid {
    stroke: rgba(0, 0, 0, .07);
    stroke-width: 1px;
    stroke-dasharray: 0;
}

#annual-sales .ct-label {
    color: rgba(0, 0, 0, .7);
    font-size: 1.1rem;
}

#annual-sales .ct-label.ct-horizontal.ct-end {
    margin-left: -15px;
}

@media screen and (max-width:390px) {
    #annual-sales {
        height: 200px;
    }
    #annual-sales .ct-label.ct-horizontal.ct-end {
        transform: rotate(-45deg);
    }
}

#annual-sales .ct-series-a .ct-line,
#annual-sales .ct-series-a .ct-point {
    stroke: #4FC1E9;
}

#annual-sales .ct-series-b .ct-line,
#annual-sales .ct-series-b .ct-point {
    stroke: #09BD8F;
}

#annual-sales .ct-point {
    stroke-width: 7px;
    cursor: pointer;
}

#annual-sales .ct-series-a .ct-area {
    fill: #BFBFC6;
    fill-opacity: .05
}

#annual-sales .ct-series-b .ct-area {
    fill: #4086C1;
    fill-opacity: .05
}

#annual-sales .ct-line {
    stroke-width: 1px
}


.chartist-tooltip {
    background-color: #0a0a0a;
    color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.chartist-tooltip:before,
.chartist-tooltip:after {
    content: none;
}

.nav-tabs:focus {
    outline: none;
}

.icon_color {
    color: #22b1e3;
    font-size: 25px;
}

.circle_round{
    font-size: 20px;
}
.circle_round1{
    font-size: 22px;
}
.top_border1{
    width:60px;
    height:60px;
    border-radius: 50%;
    line-height: 4.1;
    font-size: 15px;
    color: #fff;
    box-shadow:1px 1px 20px rgba(75, 156, 228, 0.88);
}
.top_border2{
    width:60px;
    height:60px;
    border-radius: 50%;
    line-height: 4.1;
    font-size: 15px;
    color: #fff;
    box-shadow: 1px 1px 20px rgba(82, 162, 185, 0.86);
}
.top_border3{
    width:60px;
    height:60px;
    border-radius: 50%;
    line-height: 4.1;
    font-size: 15px;
    color: #fff;
    box-shadow: 1px 1px 22px rgb(19, 191, 210);
}
.top_border4{
    width:60px;
    height:60px;
    border-radius: 50%;
    line-height: 4.1;
    font-size: 15px;
    color: #fff;
    box-shadow:1px 1px 20px rgba(23, 96, 160, 0.89);
}
.bg_color1{
    background-color: #4b9ce4;
}
.bg_color2{
    background-color: #328ba7;
}
.bg_color3{
    background-color: #13bfd2;
}
.bg_color4{
    background-color: #1760a0;
}
.number_size{
    font-size: 20px;
    color: #646567;
    margin-bottom: 0 !important;
}
.user_font{
    font-size: 13px;
    color: #646567;
    margin-bottom: 0!important;
}
.m-t-10{
    margin-top: 8px;
}
/*======chartist=========*/
</style>
<style scoped lang="scss">
    /*========================easy pie chart========================*/

.easychart {
    & .chart {
        margin: 2px auto;
        position: relative;
        display: inline-block;
        text-align: center;
    }
    .circle_val {
        display: block;
        font-weight: normal;
        color: #646a6f;
        position: relative;
    }
    .percent {
        display: inline-block;
        z-index: 2;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
</style>
