<template>
  <div class="row">
             <div class="col-lg-12">
                   <b-tabs>
                        <b-tab title="DSL" active>
                <b-card header="Provision Adsl" header-tag="h4" class="bg-primary-card">
                <div class="row">
                    <div class="col-md-12">
                        <vue-form :state="formadsl" @submit.prevent="onAdsl">
                            <div class="row">
                                  <div class="col-sm-6">
                                    <div class="form-group">
                                        <validate tag="div">
                                            <label for="plan"><strong>Select Plan</strong></label>
                                           <b-card header="Plan" header-tag="h4" class="bg-primary-card mt-4 mt-sm-0">
                <multiselect v-model="value" :options="options" required checkbox></multiselect>
            </b-card>
                                            <field-messages name="plan" show="$invalid && $submitted" class="text-danger">
                                                <div slot="checkbox">Plan is required</div>
                                            </field-messages>
                                        </validate>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <validate tag="div">
                                            <label for="number"><strong>Number</strong></label>
                                            <input v-model="model.number" name="number" type="text" required autofocus class="form-control" id="number"/>
                                            <field-messages name="number" show="$invalid && $submitted" class="text-danger">
                                                <div slot="required">Number is a required field</div>
                                            </field-messages>
                                        </validate>
                                    </div>
                                </div>
                                  <div class="col-lg-12">
                                      <label><strong>Address</strong></label>
                                    <div class="form-group">
                                        <validate tag="div">
                                            
                                            <label for="address">(Street Unit/Number/Name (ie. Suite 3, 186 Hay Street))</label>
                                            <input v-model="model.address"  class="form-control" name="address" id="address" required/>
                                            <field-messages name="address" show="$invalid && $submitted" class="text-danger">
                                                <div slot="required">Address is required</div>
                                            </field-messages>
                                        </validate>
                                    </div>
                                </div>
                                  <div class="col-sm-12">
                                    <div class="form-group">
                                        <validate tag="div">
                                            <label for="suburb">Suburb</label>
                                            <input v-model="model.suburb" name="suburb" type="text" required autofocus class="form-control" id="number"/>
                                            <field-messages name="suburb" show="$invalid && $submitted" class="text-danger">
                                                <div slot="required">Suburb is a required field</div>
                                            </field-messages>
                                        </validate>
                                    </div>
                                </div>
                                  <div class="col-sm-12">
                                    <div class="form-group">
                                        <validate tag="div">
                                            <label for="name">Your Name</label>
                                            <input v-model="model.name" name="name" type="text" required autofocus class="form-control" id="name"/>
                                            <field-messages name="name" show="$invalid && $submitted" class="text-danger">
                                                <div slot="required">Name is a required field</div>
                                            </field-messages>
                                        </validate>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <validate tag="div">
                                            <label for="email_input"> Your Contact Email Address</label>
                                            <input v-model="model.email" name="email" type="email" required  class="form-control" id="email_input"/>
                                            <field-messages name="email" show="$invalid && $submitted" class="text-danger">
                                                <div slot="required">Email is a required field</div>
                                                <div slot="email">Email is not valid</div>
                                            </field-messages>
                                        </validate>
                                    </div>
                                </div>
                                 <div class="col-lg-12">
                                    <div class="form-group">
                                        <validate tag="div">
                                            <label for="message">Further Details</label>
                                            <textarea v-model="model.message" rows="5" class="form-control resize_vertical" name="message" id="message"  required></textarea>
                                            <field-messages name="message" show="$invalid && $submitted" class="text-danger">
                                                <div slot="required">Message is required</div>
                                            </field-messages>
                                        </validate>
                                    </div>
                                </div>
                               
                              
                              
                              
                              
                                <div class="col-sm-12">
                                    <div class="form-group float-right">
                                        <button type="reset" class="btn btn-effect-ripple btn-secondary  reset_btn1">
                                                RESET
                                            </button>
                                        <input type="submit" value="SUBMIT" class="btn btn-primary" />
                                    </div>
                                </div>
                            </div>
                        </vue-form>
                    </div>
                </div>
            </b-card>
                        </b-tab>
                        <b-tab title="DOMAINS">
                 <b-card header="Provision Domain" header-tag="h4" class="bg-primary-card">
                             <div class="row">
                    <div class="col-md-12">
                        <vue-form :state="formdomain" @submit.prevent="onDomain">
                            <div class="row">
                                
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <validate tag="div">
                                            <label for="domain_name">Domain Name</label>
                                            <input v-model="model.domain_name" name="domain_name" type="text" required autofocus  class="form-control" id="domain_name"/>
                                            <field-messages name="domain_name" show="$invalid && $submitted" class="text-danger">
                                                <div slot="required">Domain is a required field</div>
                                            </field-messages>
                                        </validate>
                                    </div>
                                </div>
                                 
                                 
                                  <div class="col-sm-12">
                                    <div class="form-group">
                                        <validate tag="div">
                                            <label for="name">Your Name</label>
                                            <input v-model="model.name" name="name" type="text" required autofocus  class="form-control" id="name"/>
                                            <field-messages name="name" show="$invalid && $submitted" class="text-danger">
                                                <div slot="required">Name is a required field</div>
                                            </field-messages>
                                        </validate>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <validate tag="div">
                                            <label for="email_input"> Your Contact Email Address</label>
                                            <input v-model="model.email" name="email" type="email" required  class="form-control" id="email_input"/>
                                            <field-messages name="email" show="$invalid && $submitted" class="text-danger">
                                                <div slot="required">Email is a required field</div>
                                                <div slot="email">Email is not valid</div>
                                            </field-messages>
                                        </validate>
                                    </div>
                                </div>
                                 <div class="col-lg-12">
                                    <div class="form-group">
                                        <validate tag="div">
                                            <label for="message">Further Details</label>
                                            <textarea v-model="model.message" rows="5" class="form-control resize_vertical" name="message" id="message"  required></textarea>
                                            <field-messages name="message" show="$invalid && $submitted" class="text-danger">
                                                <div slot="required">Message is required</div>
                                            </field-messages>
                                        </validate>
                                    </div>
                                </div>
                               
                              
                              
                              
                               
                                <div class="col-sm-12">
                                    <div class="form-group float-right">
                                        <button type="reset" class="btn btn-effect-ripple btn-secondary  reset_btn1">
                                                RESET
                                            </button>
                                        <input type="submit" value="SUBMIT" class="btn btn-primary" />
                                    </div>
                                </div>
                            </div>
                        </vue-form>
                    </div>
                </div>
            </b-card>
                        </b-tab>
                        <b-tab title="EMAIL">
                    <b-card header="Provision Email" header-tag="h4" class="bg-primary-card">
                             <div class="row">
                    <div class="col-md-12">
                        <vue-form :state="formemail" @submit.prevent="onEmail">
                            <div class="row">
                                
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <validate tag="div">
                                            <label for="email_address">Requested Email Address</label>
                                            <input v-model="model.email_address" name="email_address" type="text" required autofocus  class="form-control" id="domain_name"/>
                                            <field-messages name="email_address" show="$invalid && $submitted" class="text-danger">
                                                <div slot="required">Email is a required field</div>
                                            </field-messages>
                                        </validate>
                                    </div>
                                </div>
                                 
                                 
                                  <div class="col-sm-12">
                                    <div class="form-group">
                                        <validate tag="div">
                                            <label for="name">Your Name</label>
                                            <input v-model="model.name" name="name" type="text" required autofocus class="form-control" id="name"/>
                                            <field-messages name="name" show="$invalid && $submitted" class="text-danger">
                                                <div slot="required">Name is a required field</div>
                                            </field-messages>
                                        </validate>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <validate tag="div">
                                            <label for="email_input"> Your Contact Email Address</label>
                                            <input v-model="model.email" name="email" type="email" required  class="form-control" id="email_input"/>
                                            <field-messages name="email" show="$invalid && $submitted" class="text-danger">
                                                <div slot="required">Email is a required field</div>
                                                <div slot="email">Email is not valid</div>
                                            </field-messages>
                                        </validate>
                                    </div>
                                </div>
                                 <div class="col-lg-12">
                                    <div class="form-group">
                                        <validate tag="div">
                                            <label for="message">Further Details</label>
                                            <textarea v-model="model.message" rows="5" class="form-control resize_vertical" name="message" id="message"  required></textarea>
                                            <field-messages name="message" show="$invalid && $submitted" class="text-danger">
                                                <div slot="required">Message is required</div>
                                            </field-messages>
                                        </validate>
                                    </div>
                                </div>
                               
                              
                              
                              
                                <div class="col-sm-12">
                                    <div class="form-group float-right">
                                        <button type="reset" class="btn btn-effect-ripple btn-secondary  reset_btn1">
                                                RESET
                                            </button>
                                        <input type="submit" value="SUBMIT" class="btn btn-primary" />
                                    </div>
                                </div>
                            </div>
                        </vue-form>
                    </div>
                </div>
            </b-card>
                        </b-tab>
                        <b-tab title="WORKSTATION">
             <b-card header="Provision Workstation" header-tag="h4" class="bg-primary-card">
                             <div class="row">
                    <div class="col-md-12">
                        <vue-form :state="formstation" @submit.prevent="onStation">
                            <div class="row">
                                
                             
                                 
                                 
                                  <div class="col-sm-12">
                                    <div class="form-group">
                                        <validate tag="div">
                                            <label for="name">Your Name</label>
                                            <input v-model="model.name" name="name" type="text" required autofocus class="form-control" id="name"/>
                                            <field-messages name="name" show="$invalid && $submitted" class="text-danger">
                                                <div slot="required">Name is a required field</div>
                                            </field-messages>
                                        </validate>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <validate tag="div">
                                            <label for="email_input"> Your Contact Email Address</label>
                                            <input v-model="model.email" name="email" type="email" required  class="form-control" id="email_input"/>
                                            <field-messages name="email" show="$invalid && $submitted" class="text-danger">
                                                <div slot="required">Email is a required field</div>
                                                <div slot="email">Email is not valid</div>
                                            </field-messages>
                                        </validate>
                                    </div>
                                </div>
                                 <div class="col-lg-12">
                                    <div class="form-group">
                                        <validate tag="div">
                                            <label for="message">Further Details</label>
                                            <textarea v-model="model.message" rows="5" class="form-control resize_vertical" name="message" id="message"  required></textarea>
                                            <field-messages name="message" show="$invalid && $submitted" class="text-danger">
                                                <div slot="required">Message is required</div>
                                            </field-messages>
                                        </validate>
                                    </div>
                                </div>
                               
                              
                              
                                <div class="col-sm-12">
                                    <div class="form-group float-right">
                                        <button type="reset" class="btn btn-effect-ripple btn-secondary  reset_btn1">
                                                RESET
                                            </button>
                                        <input type="submit" value="SUBMIT" class="btn btn-primary" />
                                    </div>
                                </div>
                            </div>
                        </vue-form>
                    </div>
                </div>
            </b-card>
                        </b-tab>
                        <b-tab title="LAPTOP">
                           <b-card header="Provision Laptop" header-tag="h4" class="bg-primary-card">
                             <div class="row">
                    <div class="col-md-12">
                        <vue-form :state="formlaptop" @submit.prevent="onLaptop">
                            <div class="row">
                                
                             
                                 
                                 
                                  <div class="col-sm-12">
                                    <div class="form-group">
                                        <validate tag="div">
                                            <label for="name">Your Name</label>
                                            <input v-model="model.name" name="name" type="text" required autofocus class="form-control" id="name"/>
                                            <field-messages name="name" show="$invalid && $submitted" class="text-danger">
                                                <div slot="required">Name is a required field</div>
                                            </field-messages>
                                        </validate>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <validate tag="div">
                                            <label for="email_input"> Your Contact Email Address</label>
                                            <input v-model="model.email" name="email" type="email" required  class="form-control" id="email_input"/>
                                            <field-messages name="email" show="$invalid && $submitted" class="text-danger">
                                                <div slot="required">Email is a required field</div>
                                                <div slot="email">Email is not valid</div>
                                            </field-messages>
                                        </validate>
                                    </div>
                                </div>
                                 <div class="col-lg-12">
                                    <div class="form-group">
                                        <validate tag="div">
                                            <label for="message">Further Details</label>
                                            <textarea v-model="model.message" rows="5" class="form-control resize_vertical" name="message" id="message"  required></textarea>
                                            <field-messages name="message" show="$invalid && $submitted" class="text-danger">
                                                <div slot="required">Message is required</div>
                                            </field-messages>
                                        </validate>
                                    </div>
                                </div>
                               
                              
                              
                              
                              
                                <div class="col-sm-12">
                                    <div class="form-group float-right">
                                        <button type="reset" class="btn btn-effect-ripple btn-secondary  reset_btn1">
                                                RESET
                                            </button>
                                        <input type="submit" value="SUBMIT" class="btn btn-primary" />
                                    </div>
                                </div>
                            </div>
                        </vue-form>
                    </div>
                </div>
            </b-card>
                        </b-tab>
                   </b-tabs>
             </div>
  </div>
</template>
<script>
import Vue from 'vue'
import VueClip from 'vue-clip'
import VueForm from "vue-form";
import options from "src/validations/validations.js";
Vue.use(VueForm, options);
Vue.use(VueClip)
import Multiselect from 'vue-multiselect';

Vue.component(Multiselect);
export default {
    name: 'servicerequest',
 components: {
        Multiselect
    },
    data() {
        return {
            value:null,
            options: ['broadband', 'ethernet', 'fiber'],
            number: "",
            mail: "",
            suburb: '',
            address: "",
            name:'',
            message: '',
            formadsl: {},
            formdomain:{},
            formemail:{},
            formstation:{},
            formlaptop:{},
            domain_name: '',
            email_address: '',
            model: {
                number: "",
                email: "",
                suburb: "",
                plan: 0,
                address: "",
                terms: false,
                name: '',
                message:'',
                domain_name:'',
                email_address:''
            }
            
        }
    },
    methods: {
       onAdsl: function() {
            if (this.formadsl.$invalid) {
                return;
            } else {
                //this.$router.push("/form_validations");
            }

        },
           onDomain: function() {
            if (this.formdomain.$invalid) {
                return;
            } else {
                //this.$router.push("/form_validations");
            }

        },
           onEmail: function() {
            if (this.formemail.$invalid) {
                return;
            } else {
                //this.$router.push("/form_validations");
            }

        },
           onStation: function() {
            if (this.formstation.$invalid) {
                return;
            } else {
                //this.$router.push("/form_validations");
            }

        },
           onLaptop: function() {
            if (this.formlaptop.$invalid) {
                return;
            } else {
                //this.$router.push("/form_validations");
            }

        }
    }
}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style scoped>
.dz-message {
    min-height: 200px;
    padding-top: 3%;
    background-color: #f1f1f1;
    border: 2px dashed #ccc;
}
</style>
