<template>
    <div>
         <div class="col-lg-12">
                            <div class="card bg-primary-card">
                                <h4 class="card-header" style="color:#fff">Cancel</h4>
                                <div class="card-body">
                                    
                                    
                                <div class="table-responsive">
                                            <table class="table">
                                                 <thead>
                                        <th>Username</th>
                                    
                                        <th>Desc</th>
                                        <th>Group</th>
                                        <th>User ID</th>
                                        <th></th>
                                    </thead>
                                    <tbody>
                                                <tr v-for="(service, index) in serviceCancel">
                                                   
                                                      <td>  
                                                    {{ service.username }}
                                                     </td>
                                                    <td>{{service.desc}}</td>
                                                    <td>{{service.group}}</td>
                                                    <td>{{ service.userID}}</td>
                                                    <td> <toggle-button :value="true" :labels="true" :width="50" :color="{checked: '#09BD8F', unchecked: '#dc6460'}" /></td>
                                                
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        </div>
                                        
                          </div>
                                             <b-card  header-tag="h4" class="bg-primary-card">
                             <div class="row">
                    <div class="col-md-12">
                        <vue-form :state="formcancel" @submit.prevent="onCancel">
                            <div class="row">
                                
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <validate tag="div">
                                          <label>Please confirm this cancellation:</label>
                                           <b-form-checkbox checked="false">
                                                    <small>By ticking this box you confirm that you understand that removing this service may have impact on other related services. For instance, cancelling a hosting account may stop email from operating for your business.</small>
                                                </b-form-checkbox>
                                        </validate>
                                    </div>
                                </div>
                                 
                                 
                                  <div class="col-sm-12">
                                    <div class="form-group">
                                        <validate tag="div">
                                            <label for="name">Your Name</label>
                                            <input v-model="model.name" name="name" type="text" required autofocus  class="form-control" id="name"/>
                                            <field-messages name="name" show="$invalid && $submitted" class="text-danger">
                                                <div slot="required">Name is a required field</div>
                                            </field-messages>
                                        </validate>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <validate tag="div">
                                            <label for="email_input"> Your Contact Email Address</label>
                                            <input v-model="model.email" name="email" type="email" required  class="form-control" id="email_input"/>
                                            <field-messages name="email" show="$invalid && $submitted" class="text-danger">
                                                <div slot="required">Email is a required field</div>
                                                <div slot="email">Email is not valid</div>
                                            </field-messages>
                                        </validate>
                                    </div>
                                </div>
                                 <div class="col-lg-12">
                                    <div class="form-group">
                                        <validate tag="div">
                                            <label for="message">Further Details</label>
                                            <textarea v-model="model.message" rows="5" class="form-control resize_vertical" name="message" id="message"  required></textarea>
                                            <field-messages name="message" show="$invalid && $submitted" class="text-danger">
                                                <div slot="required">Message is required</div>
                                            </field-messages>
                                        </validate>
                                    </div>
                                </div>
                               
                              
                              
                              
                               
                                <div class="col-sm-12">
                                    <div class="form-group float-right">
                                        <button type="reset" class="btn btn-effect-ripple btn-secondary  reset_btn1">
                                                RESET
                                            </button>
                                        <input type="submit" value="SUBMIT" class="btn btn-primary" />
                                    </div>
                                </div>
                            </div>
                        </vue-form>
                    </div>
                </div>
            </b-card>
                          
                          </div>
    </div>
</template>
<script>
import Vue from 'vue'
import vue2Dropzone from 'vue2-dropzone'
import 'vue2-dropzone/dist/vue2Dropzone.css'
import VueForm from "vue-form";
import options from "src/validations/validations.js";
Vue.use(VueForm, options);
export default {
    name: 'servicecancel',
    components: {
        vueDropzone: vue2Dropzone,
    },
    data(){
        return{
            formcancel:{},
             model: {
               
                email: "",
                
                message:'',
                name:'',
                email_address:''
            },
           username: '',
           desc: '',
           group: '',
           userID: '',
           search: '',
            serviceCancel:[{
                   username: 'alex_test',
                   desc:'misc',
                   group: 'ADMIN: Multiservice Admin Account',
                   userID: '1687'
                }],
        }
    },
    methods: {
       onCancel:function(){
            if (this.formcancel.$invalid) {
                return;
            } else {
                //this.$router.push("/form_validations");
            }
       }
    }
}
</script>
<style scoped>
 .dz-progress{
        background-color: #08aa80 !important;
    }
</style>
