<template>
    <div>
        <div class="row">
             <div class="col-lg-12">
                    <b-tabs>
                        <b-tab title="Comms Invoices" active>
                            <div class="card">
                               
                                <div class="card-body">
                             <table class="table">
                                    <thead>
                                        <th>Date</th>
                                        <th>ID</th>
                                        <th>Amount</th>
                                        <th>Invoice</th>
                                        <th></th>
                                    </thead>
                                    <tbody>
                                                <tr>
                                                   
                                                    <td>01-09-18</td>
                                                  
                                                    <td>301345</td>
                                                    <td>$0.00</td>
                                                    <td> <span class="success_background"><i class="fa fa-money"></i> PAID</span></td>
                                                

                                                     <td>
                                             <a data-v-44d91495="" @click="printDiv()" title="export excel" class="btn btn-info text-white"><i data-v-44d91495="" class="fa fa-print"></i> Print</a>
                                             </td>
                                                  
                                                   
                                                </tr>
                                                <tr>
                                                     <td>31-07-18</td>                                                 
                                                    <td>300661</td>
                                                    <td>$0.00</td>
                                                    <td> <span class="success_background"><i class="fa fa-money"></i> PAID</span></td>
                                                <td>   <a data-v-44d91495="" href="javascript:undefined" title="export excel" class="btn btn-info text-white"><i data-v-44d91495="" class="fa fa-print"></i> Print</a></td>
                                                </tr>
                                                <tr>
                                                     <td>01-07-18</td>                                                 
                                                    <td>299990</td>
                                                    <td>$0.00</td>
                                                    <td> <span class="success_background"><i class="fa fa-money"></i> PAID</span></td>
                                                <td>   <a data-v-44d91495="" href="javascript:undefined" title="export excel" class="btn btn-info text-white"><i data-v-44d91495="" class="fa fa-print"></i> Print</a></td>
                                                </tr>
                                                <tr>
                                                     <td>30-04-18</td>                                                 
                                                    <td>299990</td>
                                                    <td>$0.00</td>
                                                    <td> <span class="success_background"><i class="fa fa-money"></i> PAID</span></td>
                                                   <td>   <a data-v-44d91495="" href="javascript:undefined" title="export excel" class="btn btn-info text-white"><i data-v-44d91495="" class="fa fa-print"></i> Print</a></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                </div>
                            </div>
                        </b-tab>
                        <b-tab title="ICT Invoices">
                            <div class="card">
                               
                                <div class="card-body">
                           <table class="table">
                                    <thead>
                                        <th>Date</th>
                                        <th>Invoice ID</th>
                                        <th>Amount</th>
                                
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>There appears to be no ICT invoices for this account</td>
                                        </tr>
                                    </tbody>
                           </table>
                                </div>
                            </div>
                        </b-tab>
                       
                    </b-tabs>
                </div>
        </div>
    </div>
</template>
<script>
export default {
    name: "statement",
    mounted: function() {
    },
    destroyed: function() {
    },
    methods:{
         printDiv() {
            window.print();
        }
    }
}
</script>
<style src="assets/css/custom_typo.css" scoped></style>
<style scoped src="assets/css/e_dashboard.css"></style>