<template>
   <div class="col-lg-12">
         <div id="preloader" v-if="preloader">
        <div class="spinner">
            <div class="dot1"></div>
            <div class="dot2"></div>
        </div>
    </div>
                            <div class="card bg-primary-card">
                                <h6 class="card-header" style="color:#fff">This page lists your companies open tickets</h6>
                                <div class="card-body">
                                    <div data-v-44d91495="" class="text-left">
                                        <label>  <input type="search"  placeholder="Search here" class="search form-control pl-2 pr-2" v-model="search"></label>
                                         <div data-v-44d91495="" class="actions float-right pr-4 mb-3">
                                             <a data-v-44d91495="" href="javascript:undefined" title="export excel" class="btn btn-info text-white"><i data-v-44d91495="" class="fa fa-download"></i></a>
                                             </div></div>
                         <table class="table">
                                    <thead>
                                        <th>ID</th>
                                        <th>Status</th>
                                        <th>Subject</th>
                                        <th>Contact</th>
                                        <th>Age</th>
                                        <th>Priority</th>
                                    </thead>
                                    <tbody>
                                                <tr v-for="ticket in tickets" :key="ticket.id">
                                                    <td>{{ ticket.id }}</td>
                                                    <td><span class="pending_background">{{ ticket.ticketStatus}}</span></td>
                                                    <td>{{ ticket.summary }}</td>
                                                    <td>{{ ticket.contactName}}</td>
                                                    <td>{{ ticket.created_at }}</td>
                                                    <td>{{ ticket.priority }}</td>
                                                </tr>
                                    
                                                </tbody>
                                            </table>
                                        </div>
            </div>
               <button class="btn btn-primary" @click="editTickets">CREATE A NEW TICKET</button>
             <div class="col-lg-12">
                     <b-modal ref="editTickets" hide-footer title="Add a New Ticket">
               <div class="p-4">
                   <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" class="form-control" placeholder="Your name" v-model="newfullname">
                    </div>
                    <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" class="form-control" placeholder="Your email" v-model="newemail">
                    </div>
                    
                    <div class="form-group">
                        	<label for="department">Department</label>
                   <select id="department" name="department"  class="form-control col-md-4" size="1" v-model="department_id">
                                            <option v-for="department in departments"  :value="department.id" :key="department.id">{{ department.name}}</option>
                                               
                                            </select>
                    </div>
                    <div class="form-group">
                       <label for="subject">Ticket summary</label><br><small>Ticket Summary
100 Characters or less,<br> specific to the object of the<br> issue, such as workstation<br> name, domain or username.</small>
 <input type="text" id="subject" name="subject" class="form-control" placeholder="Ticket summary" v-model="newsubject">
                    </div>
                    <div class="form-group">
                       <label for="message">Message</label>
                       <textarea rows="4" class="form-control resize_vertical" id="message" v-model="newmessage"></textarea>
                    </div>
                    <button @click="addTicket()" class="btn btn-primary mt-2">Submit</button>
                </div>
           
              </b-modal>
                </div>
        </div>
</template>
<script>
import Vue from 'vue';
import IEcharts from 'vue-echarts-v3/src/full.js';
import 'echarts/lib/chart/line';
import 'echarts/lib/component/tooltip';
// ====
import portfolio from "components/widgets/portfolio/portfolio.vue"
var unsub;
export default {
    name: "tickets",
    components: {
        IEcharts,
        portfolio
    },
    data() {
        return {
           modalShow:false,
           newfullname: '',
           newemail: '',
           newsubject: '',
           newmessage: '',
           search: '',
           department_id: 1,
           tickets:[],
           departments: [],
           preloader: true

        }
    },
    created() {
        this.getTickets();
        this.getDepartment();
    },
    methods: {
       getTickets(){
           axios.get('api/getticket')
                .then(response => {
                   this.preloader = false;
                   this.tickets = response.data.tickets
                });
       },
        getDepartment(){
           axios.get('api/ticketcreate')
                .then(response => {
                   //this.preloader = false;
                   this.departments = response.data.departments
                });
       },
       editTickets(){
           this.$refs.editTickets.show();
       },
       addTicket:function () {
              axios
                    .post('api/ticketcreate',{
                        contactName: this.newfullname,
                        email: this.newemail,
                        summary: this.newsubject,
                        department_id: this.department_id,
                        detailDescription: this.newmessage
                    })
                    .then(response => {
                       //console.log(response); 
                    });
          
           this.newfullname = '',
           this.newemail = '',
           this.newsubject = '',
           this.newmessage = '',
           this.modalShow = false,
            this.getTickets();
           this.$refs.editTickets.hide();
       },
         printDiv() {
            window.print();
        }
    },
    computed:{
          allTickets:function(){
              /*var self = this;
              return this.tickets.filter(function(newticket){
                 return newticket.subject.toLowerCase().indexOf(self.search.toLowerCase())>=0;})*/
          }
    },
    mounted() {
        unsub = this.$store.subscribe((mutation, state) => {
            if (mutation.type == "left_menu") {
                this.instances.forEach(function(item, index) {
                    setTimeout(function() {
                        item.resize();
                    });
                });
            }
        });
    },
    beforeRouteLeave (to, from, next) {
        unsub();
        next();
    },
}
</script>
<style scoped src="assets/css/e_dashboard.css"></style>