<template>
    <div class="row">
        <div class="col-xl-4 col-lg-5">
            <b-card class="bg-info-card">
                <div class="profile text-center ">
                    <img :src="this.$store.state.user.picture" alt="User Image" class="rounded-circle img-fluid profile-thumb mb-3">
                    <h4 class="text-gray">{{this.$store.state.user.name}}</h4>
                    <p>{{this.$store.state.user.job}}</p>
                    <div class="row">
                        <div class="col-sm-7 text-warning user-rating">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-half-full" aria-hidden="true"></i>
                        </div>
                        
                    </div>
                </div>
                <div class="profile_details">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="nav-tabs-custom">
                                <b-tabs>
                                   
                                    <b-tab title="About" active>
                                          <div class="row">
                                              <div class="col-12">
                                                  <div class="row">
                                                      <div class="col-4 text-right mt-2">Email :</div>
                                                      <div class="col-8 mt-2">alex.malikov94@gmail.com</div>
                                                      <div class="col-4 text-right mt-2">Contact :</div>
                                                      <div class="col-8 nt-2">908 99 7474</div>
                                                      <div class="col-4 text-right mt-2">D.O.B :</div>
                                                      <div class="col-8 mt-2">53-21-32</div>
                                                      <div class="col-4 text-right mt-1">Address :</div>
                                                      <div class="col-8 mt-1">Ain 26 app 7.</div>
                                                  </div>
                                              </div>
                                          </div>
                                    </b-tab>
                                </b-tabs>
                            </div>
                        </div>
                    </div>
                </div>
            </b-card>
            <b-card header="Profile Details :" header-tag="h4" class="bg-success-card">
                <b-list-group class="project-deatails">
                    <b-list-group-item>
                        <a href="#" class="text-primary"> Total Services <span class="badge badge-primary float-right">28</span></a>
                    </b-list-group-item>
                    <b-list-group-item>
                        <a href="#" class="text-info"> Tickets <span class=" badge badge-info float-right">7</span></a>
                    </b-list-group-item>
                    <b-list-group-item>
                        <a href="#" class="text-success"> Submitted Services <span class=" badge badge-success float-right">9</span></a>
                    </b-list-group-item>
                    <b-list-group-item>
                        <a href="#" class="text-warning"> Submitted Tickets <span class="badge badge-warning float-right">9</span></a>
                    </b-list-group-item>
                    <b-list-group-item>
                        <a href="#" class="text-danger">In Progress <span class=" badge badge-danger float-right"> 11</span></a>
                    </b-list-group-item>
                    <b-list-group-item>
                        <a href="#" class="text-success"> Upcoming <span class="badge badge-success float-right">8</span></a>
                    </b-list-group-item>
                </b-list-group>
            </b-card>
        </div>
        <div class="col-xl-8 col-lg-7">
            <b-card class="bg-primary-card data">
                <!-- Nav tabs -->
                <b-tabs>
                    <b-tab title="Users">
                        <v-scroll height="740px">
                            <div class="row">
                                <div class="col-xl-4 col-lg-6">
                                    <div class="connection text-center row">
                                        <div class="connect-head">
                                            <img src="~img/authors/avatar2.jpg" alt="User Image" class="rounded-circle">
                                            <h5 class="text-gray mt-1">Ella Washington</h5>
                                            <p>Customer</p>
                                        </div>
                                        <div class="connect-data connect-bg2">
                                            <strong><span class="count">14</span> <br> Services</strong>
                                        </div>
                                        <div class="connect-data connect-bg2">
                                            <strong><span class="count">60</span> <br> Tickets</strong>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6">
                                    <div class="connection text-center row">
                                        <div class="connect-head">
                                            <img src="~img/authors/avatar3.jpg" alt="User Image" class="rounded-circle">
                                            <h5 class="text-gray mt-1">Quincy Hirthe</h5>
                                            <p>Customer</p>
                                        </div>
                                        <div class="connect-data connect-bg1">
                                            <strong><span class="count">7</span> <br> Services</strong>
                                        </div>
                                        <div class="connect-data connect-bg1">
                                            <strong><span class="count">89</span> <br> Tickets</strong>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6">
                                    <div class="connection text-center row">
                                        <div class="connect-head">
                                            <img src="~img/authors/avatar4.jpg" alt="User Image" class="rounded-circle">
                                            <h5 class="text-gray mt-1">Heath Buckridge</h5>
                                            <p>Customer</p>
                                        </div>
                                        <div class="connect-data connect-bg4">
                                            <strong><span class="count">6</span> <br> Services</strong>
                                        </div>
                                        <div class="connect-data connect-bg4">
                                            <strong><span class="count">75</span> <br> Tickets</strong>
                                        </div>
                                    </div>
                                </div>
                                 <div class="col-xl-4 col-lg-6">
                                    <div class="connection text-center row">
                                        <div class="connect-head">
                                            <img src="~img/authors/avatar4.jpg" alt="User Image" class="rounded-circle">
                                            <h5 class="text-gray mt-1">Heath Buckridge</h5>
                                            <p>Customer</p>
                                        </div>
                                        <div class="connect-data connect-bg4">
                                            <strong><span class="count">6</span> <br> Services</strong>
                                        </div>
                                        <div class="connect-data connect-bg4">
                                            <strong><span class="count">75</span> <br> Tickets</strong>
                                        </div>
                                    </div>
                                </div>
                            
                             <div class="col-xl-4 col-lg-6">
                                    <div class="connection text-center row">
                                        <div class="connect-head">
                                            <img src="~img/authors/avatar4.jpg" alt="User Image" class="rounded-circle">
                                            <h5 class="text-gray mt-1">Heath Buckridge</h5>
                                            <p>Customer</p>
                                        </div>
                                        <div class="connect-data connect-bg4">
                                            <strong><span class="count">6</span> <br> Services</strong>
                                        </div>
                                        <div class="connect-data connect-bg4">
                                            <strong><span class="count">75</span> <br> Tickets</strong>
                                        </div>
                                    </div>
                                </div>
                            
                             <div class="col-xl-4 col-lg-6">
                                    <div class="connection text-center row">
                                        <div class="connect-head">
                                            <img src="~img/authors/avatar4.jpg" alt="User Image" class="rounded-circle">
                                            <h5 class="text-gray mt-1">Heath Buckridge</h5>
                                            <p>Customer</p>
                                        </div>
                                        <div class="connect-data connect-bg4">
                                            <strong><span class="count">6</span> <br> Services</strong>
                                        </div>
                                        <div class="connect-data connect-bg4">
                                            <strong><span class="count">75</span> <br> Tickets</strong>
                                        </div>
                                    </div>
                                </div>
                                 <div class="col-xl-4 col-lg-6">
                                    <div class="connection text-center row">
                                        <div class="connect-head">
                                            <img src="~img/authors/avatar4.jpg" alt="User Image" class="rounded-circle">
                                            <h5 class="text-gray mt-1">Heath Buckridge</h5>
                                            <p>Customer</p>
                                        </div>
                                        <div class="connect-data connect-bg4">
                                            <strong><span class="count">6</span> <br> Services</strong>
                                        </div>
                                        <div class="connect-data connect-bg4">
                                            <strong><span class="count">75</span> <br> Tickets</strong>
                                        </div>
                                    </div>
                                </div>
                            
                             <div class="col-xl-4 col-lg-6">
                                    <div class="connection text-center row">
                                        <div class="connect-head">
                                            <img src="~img/authors/avatar4.jpg" alt="User Image" class="rounded-circle">
                                            <h5 class="text-gray mt-1">Heath Buckridge</h5>
                                            <p>Customer</p>
                                        </div>
                                        <div class="connect-data connect-bg4">
                                            <strong><span class="count">6</span> <br> Services</strong>
                                        </div>
                                        <div class="connect-data connect-bg4">
                                            <strong><span class="count">75</span> <br> Tickets</strong>
                                        </div>
                                    </div>
                                </div>
                            
                             <div class="col-xl-4 col-lg-6">
                                    <div class="connection text-center row">
                                        <div class="connect-head">
                                            <img src="~img/authors/avatar4.jpg" alt="User Image" class="rounded-circle">
                                            <h5 class="text-gray mt-1">Heath Buckridge</h5>
                                            <p>Customer</p>
                                        </div>
                                        <div class="connect-data connect-bg4">
                                            <strong><span class="count">6</span> <br> Services</strong>
                                        </div>
                                        <div class="connect-data connect-bg4">
                                            <strong><span class="count">75</span> <br> Tickets</strong>
                                        </div>
                                    </div>
                                </div>
                            
                            
                            
                            </div>
                        </v-scroll>
                    </b-tab>
                  
                </b-tabs>
            </b-card>
        </div>
    </div>
</template>
<script>
import vScroll from "components/plugins/scroll/vScroll.vue"
export default {
    name: "user_profile",
    components: {
        vScroll
    },
    mounted: function() {},
    destroyed: function() {}
}
</script>
<style src="assets/css/user_profile.css" scoped></style>
